Repository espressif/esp-bsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bsp-dependencies-readme, update-supported-boards, update-examples_table

Path conditions:
  bsp-dependencies-readme: any of: bsp/.*/include/bsp/.*\.h|bsp/.*/idf_component\.yml|bsp/.*/README\.md
  update-supported-boards: any of: ^README\.md$|^bsp/
  update-examples_table: any of: ^README\.md$|^examples/

correction of fisheye + crop
  conftest.py
Due: none

Camera update
  conftest.py
Due: none

components: Add maintanance status badges
  components/bh1750/README.md
  components/fbm320/README.md
  components/hts221/README.md
  components/mag3110/README.md
  components/mpu6050/README.md
  test_apps/.build-test-rules.yml
  test_apps/components/CMakeLists.txt
Due: none

Run only selected tests + wait
  conftest.py
  examples/display/pytest_display.py
  examples/display_lvgl_demos/pytest_display_lvgl_demos.py
Due: update-examples_table

Register button callbacks only if encoder_enter handle is not null
  components/esp_lvgl_port/idf_component.yml
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port_knob.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_knob.c
Due: none

Revert version change
  components/esp_lvgl_port/idf_component.yml
Due: none

feat(icm42670): Expose functions for reading/writing registers
  components/icm42670/CMakeLists.txt
  components/icm42670/icm42670.c
  components/icm42670/include/icm42670.h
Due: none

10us wait for mreg
  components/icm42670/icm42670.c
Due: none

new matrix
  .github/workflows/build-run-applications.yml
Due: none

ci(runner): Process runner in parallel
  .github/workflows/build-run-applications.yml
  examples/display/pytest_display.py
  examples/display_lvgl_benchmark/pytest_display_lvgl_benchmark.py
  examples/display_lvgl_demos/pytest_display_lvgl_demos.py
  examples/display_sensors/pytest_display_display_sensors.py
  examples/generic_button_led/pytest_generic_button_led.py
Due: update-examples_table

markers
  conftest.py
Due: none

build_dir
  conftest.py
Due: none

no message
  .github/workflows/build-run-applications.yml
Due: none

disable cache
  .github/workflows/build-run-applications.yml
  conftest.py
Due: none

no message
  conftest.py
Due: none

no message
  .github/workflows/build-run-applications.yml
  conftest.py
Due: none

remove parallel
  .github/workflows/build-run-applications.yml
Due: none

add parallel
  .github/workflows/build-run-applications.yml
Due: none

Tweak code format
  components/icm42670/icm42670.c
  components/icm42670/include/icm42670.h
Due: none

fix(bsp): Fixed ADC deprecated constants.
  bsp/esp32_s3_korvo_2/esp32_s3_korvo_2_idf5.c
  bsp/esp32_s3_korvo_2/idf_component.yml
  bsp/esp32_s3_usb_otg/CMakeLists.txt
  bsp/esp32_s3_usb_otg/README.md
  bsp/esp32_s3_usb_otg/esp32_s3_usb_otg_idf4.c
  bsp/esp32_s3_usb_otg/esp32_s3_usb_otg_idf5.c
  bsp/esp32_s3_usb_otg/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

fix(benchmark_example): Fixed stack size for benchmark for esp32_s3_eye board.
  examples/display_lvgl_benchmark/main/main.c
Due: update-examples_table

ci(runner): Process runner in parallel
  .github/workflows/build-run-applications.yml
  conftest.py
  examples/display/pytest_display.py
  examples/display_lvgl_benchmark/main/main.c
  examples/display_lvgl_benchmark/pytest_display_lvgl_benchmark.py
  examples/display_lvgl_demos/pytest_display_lvgl_demos.py
  examples/display_sensors/pytest_display_display_sensors.py
  examples/generic_button_led/pytest_generic_button_led.py
  examples/generic_button_led/sdkconfig.bsp.esp_bsp_generic
Due: update-examples_table

bsp(esp-box-3): Fix bsp_touch_new availability in noglib version
  bsp/esp-box-3/esp-box-3.c
  bsp/esp-box-3/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

doc(doxygen): Fail when doxygen warning
  .github/pull_request_template.md
  Doxyfile
  SquareLine/boards/v9/m5stack_core_2/manifest.json
  bsp/esp-box-3/README.md
  bsp/esp32_c3_lcdkit/CMakeLists.txt
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/m5dial/README.md
  bsp/m5stack_core_s3/README.md
  components/ds18b20/examples/ds18b20-read/main/idf_component.yml
  components/esp_lvgl_port/test_apps/simd/CMakeLists.txt
  components/esp_lvgl_port/test_apps/simd/main/Kconfig.projbuild
  components/esp_lvgl_port/test_apps/simd/sdkconfig.defaults
  components/io_expander/esp_io_expander/include/esp_io_expander.h
  components/lcd/esp_lcd_ili9881c/test_apps/main/idf_component.yml
  components/lcd/esp_lcd_ssd1681/README.md
  components/lcd/esp_lcd_ssd1681/examples/epaper_demo/main/idf_component.yml
  components/lcd/esp_lcd_ssd1681/examples/epaper_lvgl_demo/main/idf_component.yml
  components/lcd/esp_lcd_st7796/test_apps/main/CMakeLists.txt
  components/lcd_touch/esp_lcd_touch/Kconfig
  components/qma6100p/CMakeLists.txt
  examples/display_audio_photo/spiffs_content/Readme.txt
  examples/display_usb_hid/CMakeLists.txt
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

feat(icm42670): Expose functions for reading/writing registers
  components/icm42670/icm42670.c
  components/icm42670/idf_component.yml
  components/icm42670/include/icm42670.h
Due: none

x
  bsp/esp-box-3/esp-box-3.c
  bsp/esp32_s2_kaluga_kit/API.md
  bsp/esp32_s2_kaluga_kit/esp32_s2_kaluga_kit.c
  bsp/esp32_s2_kaluga_kit/include/bsp/esp32_s2_kaluga_kit.h
  bsp/esp32_s3_eye/esp32_s3_eye.c
  bsp/esp32_s3_korvo_2/esp32_s3_korvo_2.c
  bsp/esp32_s3_lcd_ev_board/src/esp32_s3_lcd_ev_board.c
  bsp/esp_bsp_devkit/src/esp_bsp_devkit.c
  bsp/esp_bsp_generic/src/esp_bsp_generic.c
  bsp/m5_atom_s3/m5_atom_s3.c
  bsp/m5stack_core_2/API.md
  bsp/m5stack_core_2/include/bsp/m5stack_core_2.h
  bsp/m5stack_core_s3/m5stack_core_s3.c
  components/esp_lvgl_port/test_apps/simd/main/lv_blend/src/lv_draw_sw_blend_to_rgb565.c
  components/icm42670/include/icm42670.h
  components/lcd/esp_lcd_gc9a01/include/esp_lcd_gc9a01.h
  components/lcd/esp_lcd_ili9341/include/esp_lcd_ili9341.h
  components/lcd/esp_lcd_st7796/include/esp_lcd_st7796.h
  components/mpu6050/include/mpu6050.h
  components/qma6100p/include/qma6100p.h
Due: bsp-dependencies-readme, update-supported-boards

feat: Add LVGL9.2 support to Squareline packages
  SquareLine/README.md
  SquareLine/boards/v9/esp32_c3_lcdkit/manifest.json
  SquareLine/boards/v9/esp32_s2_kaluga_kit/manifest.json
  SquareLine/boards/v9/esp32_s3_eye/manifest.json
  SquareLine/boards/v9/esp32_s3_korvo_2/manifest.json
  SquareLine/boards/v9/esp32_s3_lcd_ev_board/manifest.json
  SquareLine/boards/v9/esp32_s3_usb_otg/manifest.json
  SquareLine/boards/v9/espbox/manifest.json
  SquareLine/boards/v9/espbox_3/manifest.json
  SquareLine/boards/v9/espbox_lite/manifest.json
  SquareLine/boards/v9/espwroverkit/manifest.json
  SquareLine/boards/v9/m5_atom_s3/manifest.json
  SquareLine/boards/v9/m5dial/manifest.json
  SquareLine/boards/v9/m5stack_core_2/manifest.json
  SquareLine/boards/v9/m5stack_core_s3/manifest.json
Due: none

feat: Add noglib options to Korvo 2 and LCD-EV board
  .github/workflows/upload_component_noglib.yml
  bsp/esp32_s3_korvo_2/API.md
  bsp/esp32_s3_korvo_2/esp32_s3_korvo_2.c
  bsp/esp32_s3_korvo_2/include/bsp/config.h
  bsp/esp32_s3_korvo_2/include/bsp/display.h
  bsp/esp32_s3_korvo_2/include/bsp/esp32_s3_korvo_2.h
  bsp/esp32_s3_lcd_ev_board/API.md
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/esp32_s3_lcd_ev_board/include/bsp/config.h
  bsp/esp32_s3_lcd_ev_board/include/bsp/display.h
  bsp/esp32_s3_lcd_ev_board/include/bsp/esp32_s3_lcd_ev_board.h
  bsp/esp32_s3_lcd_ev_board/src/esp32_s3_lcd_ev_board.c
Due: bsp-dependencies-readme, update-supported-boards

feat: Add board M5Stack Tab5
  .github/workflows/upload_component.yml
  .pre-commit-config.yaml
  README.md
  SquareLine/boards/v9/m5stack_tab5/image.png
  SquareLine/boards/v9/m5stack_tab5/main/idf_component.yml
  SquareLine/boards/v9/m5stack_tab5/manifest.json
  SquareLine/boards/v9/m5stack_tab5/partitions.csv
  SquareLine/boards/v9/m5stack_tab5/sdkconfig.defaults
  bsp/m5stack_tab5/API.md
  bsp/m5stack_tab5/CMakeLists.txt
  bsp/m5stack_tab5/Kconfig
  bsp/m5stack_tab5/LICENSE
  bsp/m5stack_tab5/README.md
  bsp/m5stack_tab5/doc/C145_01.webp
  bsp/m5stack_tab5/doc/C145_04.webp
  bsp/m5stack_tab5/idf_component.yml
  bsp/m5stack_tab5/include/bsp/config.h
  bsp/m5stack_tab5/include/bsp/display.h
  bsp/m5stack_tab5/include/bsp/esp-bsp.h
  bsp/m5stack_tab5/include/bsp/ili9881_init_data.c
  bsp/m5stack_tab5/include/bsp/m5stack_tab5.h
  bsp/m5stack_tab5/include/bsp/touch.h
  bsp/m5stack_tab5/m5stack_tab5.c
  bsp/m5stack_tab5/priv_include/bsp_err_check.h
  examples/bsp_ext.py
  examples/display/sdkconfig.bsp.m5stack_tab5
  examples/display_audio_photo/sdkconfig.bsp.m5stack_tab5
  examples/display_lvgl_benchmark/sdkconfig.bsp.m5stack_tab5
  examples/display_lvgl_demos/sdkconfig.bsp.m5stack_tab5
  examples/display_rotation/sdkconfig.bsp.m5stack_tab5
  examples/display_usb_hid/sdkconfig.bsp.m5stack_tab5
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix(bsp): Fix spelling
  bsp/m5stack_tab5/include/bsp/m5stack_tab5.h
  bsp/m5stack_tab5/m5stack_tab5.c
Due: bsp-dependencies-readme, update-supported-boards

Create issue_bot.yml
  .github/workflows/issue_bot.yml
Due: none

feat(ds18b20): support to trigger multi sensors conversion
  components/ds18b20/CHANGELOG.md
  components/ds18b20/README.md
  components/ds18b20/examples/ds18b20-read/main/ds18b20-read.c
  components/ds18b20/idf_component.yml
  components/ds18b20/include/ds18b20.h
  components/ds18b20/src/ds18b20.c
Due: none

fix(bsp): Fix precommit handle
  README.md
  bsp/m5stack_tab5/API.md
  bsp/m5stack_tab5/Kconfig
  bsp/m5stack_tab5/README.md
  bsp/m5stack_tab5/doc/m5stack_tab5.webp
  bsp/m5stack_tab5/idf_component.yml
  bsp/m5stack_tab5/include/bsp/display.h
  bsp/m5stack_tab5/include/bsp/ili9881_init_data.h
  bsp/m5stack_tab5/include/bsp/m5stack_tab5.h
  bsp/m5stack_tab5/m5stack_tab5.c
  docu/doxyfiles/m5stack_tab5
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix(bsp): Fix documentation tag
  README.md
  bsp/m5stack_tab5/API.md
  bsp/m5stack_tab5/include/bsp/m5stack_tab5.h
  bsp/m5stack_tab5/m5stack_tab5.c
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix(bsp): Fix sd card apis
  bsp/m5stack_tab5/API.md
  bsp/m5stack_tab5/CMakeLists.txt
  bsp/m5stack_tab5/Kconfig
  bsp/m5stack_tab5/include/bsp/m5stack_tab5.h
  bsp/m5stack_tab5/m5stack_tab5.c
Due: bsp-dependencies-readme, update-supported-boards

fix(forms): fixing wrong label used and switching to double quotes
  .github/ISSUE_TEMPLATE/01_Feature-Request.yml
  .github/ISSUE_TEMPLATE/02_Issue-Report.yml
Due: none

ci(component_upload): Upload all examples to each BSP with right YML files.
  .github/ci/bsp_example_update.py
  .github/workflows/upload_component.yml
  bsp/esp-box-3/README.md
  bsp/esp-box-3/idf_component.yml
  bsp/esp32_c3_lcdkit/idf_component.yml
  bsp/esp32_lyrat/idf_component.yml
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/esp32_s2_kaluga_kit/idf_component.yml
  bsp/esp32_s3_eye/README.md
  bsp/esp32_s3_eye/idf_component.yml
  bsp/esp32_s3_korvo_1/idf_component.yml
  bsp/esp32_s3_korvo_2/idf_component.yml
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/esp32_s3_lcd_ev_board/idf_component.yml
  bsp/esp32_s3_usb_otg/idf_component.yml
  bsp/m5_atom_s3/idf_component.yml
  bsp/m5dial/README.md
  bsp/m5dial/idf_component.yml
  bsp/m5stack_core/idf_component.yml
  bsp/m5stack_core_2/idf_component.yml
  bsp/m5stack_core_s3/README.md
  bsp/m5stack_core_s3/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

Update after review
  .github/workflows/upload_component.yml
Due: none
