Repository espressif/esp-bsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bsp-dependencies-readme, update-supported-boards, update-examples_table

Path conditions:
  bsp-dependencies-readme: any of: bsp/.*/include/bsp/.*\.h|bsp/.*/idf_component\.yml|bsp/.*/README\.md
  update-supported-boards: any of: ^README\.md$|^bsp/
  update-examples_table: any of: ^README\.md$|^examples/

fix(mpu6050): set requires with SET(REQ...)
  components/mpu6050/CMakeLists.txt
  components/mpu6050/idf_component.yml
Due: none

Test: Add pytest
  .github/workflows/build-run-applications.yml
  examples/display_sdcard/pytest_sdcard.py
Due: update-examples_table

feat/csi_camera: Support CSI camera on ESP32-P4-Function-EV-Board
  .github/ci/update_readme_dependencies.py
  .github/ci/update_supported_boards.py
  README.md
  bsp/esp32_p4_eye/API.md
  bsp/esp32_p4_eye/Kconfig
  bsp/esp32_p4_eye/README.md
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_eye/include/bsp/esp32_p4_eye.h
  bsp/esp32_p4_eye/src/esp32_p4_eye.c
  bsp/esp32_p4_function_ev_board/API.md
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_p4_function_ev_board/esp32_p4_function_ev_board.c
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/esp32_p4_function_ev_board/include/bsp/esp32_p4_function_ev_board.h
  conftest.py
  docu/doxyfiles/templates/api.jinja
  docu/doxyfiles/templates/how_to_use/g12_camera.md
  docu/how_to_use.md
  examples/.build-test-rules.yml
  examples/display/pytest_display.py
  examples/display_camera_csi/README.md
  examples/display_camera_csi/main/main.c
  examples/display_camera_csi/sdkconfig.bsp.esp32_p4_function_ev_board
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

ci(new_issue): Fixed new issue CI
  .github/workflows/build-run-applications.yml
  .github/workflows/issue_comment.yml
  .github/workflows/new_issues.yml
  .github/workflows/new_prs.yml
Due: none

fix(ci): Fix jira issue sync and set checkout action to a specific version
  .github/workflows/issue_comment.yml
  .github/workflows/new_issues.yml
  .github/workflows/new_prs.yml
  .github/workflows/upload_component.yml
  .github/workflows/upload_component_noglib.yml
Due: none

feat(mipi-dsi): Updated MIPI-DSI structs for IDF6
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_p4_function_ev_board/esp32_p4_function_ev_board.c
  bsp/esp32_p4_function_ev_board/idf_component.yml
  components/lcd/esp_lcd_ili9881c/idf_component.yml
  components/lcd/esp_lcd_ili9881c/include/esp_lcd_ili9881c.h
  components/lcd/esp_lcd_ili9881c/test_apps/main/test_esp_lcd_ili9881c.c
  components/lcd/esp_lcd_lt8912b/idf_component.yml
  components/lcd/esp_lcd_lt8912b/include/esp_lcd_lt8912b.h
Due: bsp-dependencies-readme, update-supported-boards

fix(lvgl_port): Improved and fixed deinit function (remove semaphor)
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/idf_component.yml
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port.c
  components/esp_lvgl_port/test_apps/lvgl_port/main/idf_component.yml
  components/esp_lvgl_port/test_apps/lvgl_port/main/test.c
Due: none

feat(components): Override paths for each component local to the BSP repository
  .github/PULL_REQUEST_TEMPLATE/pr_template_bsp.md
  bsp/esp-box-3/README.md
  bsp/esp-box-3/idf_component.yml
  bsp/esp-box/idf_component.yml
  bsp/esp32_azure_iot_kit/idf_component.yml
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/esp32_s3_lcd_ev_board/idf_component.yml
  bsp/esp_bsp_generic/idf_component.yml
  bsp/m5stack_core_2/idf_component.yml
  bsp/m5stack_core_s3/README.md
  bsp/m5stack_core_s3/idf_component.yml
  components/io_expander/esp_io_expander_ht8574/idf_component.yml
  components/io_expander/esp_io_expander_tca9554/idf_component.yml
  components/io_expander/esp_io_expander_tca95xx_16bit/idf_component.yml
  components/lcd_touch/esp_lcd_touch_cst816s/idf_component.yml
  components/lcd_touch/esp_lcd_touch_ft5x06/idf_component.yml
  components/lcd_touch/esp_lcd_touch_gt1151/idf_component.yml
  components/lcd_touch/esp_lcd_touch_gt911/idf_component.yml
  components/lcd_touch/esp_lcd_touch_stmpe610/idf_component.yml
  components/lcd_touch/esp_lcd_touch_tt21100/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

fix(ci): Fixed noglib generating
  .github/ci/bsp_noglib.py
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_p4_function_ev_board/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

feat(components): Override paths for each component local to the BSP repository
  .github/PULL_REQUEST_TEMPLATE/pr_template_bsp.md
  bsp/esp-box-3/README.md
  bsp/esp-box-3/idf_component.yml
  bsp/esp-box/idf_component.yml
  bsp/esp32_azure_iot_kit/idf_component.yml
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/esp32_s3_korvo_2/idf_component.yml
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/esp32_s3_lcd_ev_board/idf_component.yml
  bsp/esp_bsp_generic/idf_component.yml
  bsp/m5stack_core_2/idf_component.yml
  bsp/m5stack_core_s3/README.md
  bsp/m5stack_core_s3/idf_component.yml
  components/io_expander/esp_io_expander_ht8574/idf_component.yml
  components/io_expander/esp_io_expander_tca9554/idf_component.yml
  components/io_expander/esp_io_expander_tca95xx_16bit/idf_component.yml
  components/lcd_touch/esp_lcd_touch_cst816s/idf_component.yml
  components/lcd_touch/esp_lcd_touch_ft5x06/idf_component.yml
  components/lcd_touch/esp_lcd_touch_gt1151/idf_component.yml
  components/lcd_touch/esp_lcd_touch_gt911/idf_component.yml
  components/lcd_touch/esp_lcd_touch_stmpe610/idf_component.yml
  components/lcd_touch/esp_lcd_touch_tt21100/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

fix(ci): Fixed noglib tags and description generating
  .github/ci/bsp_noglib.py
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_function_ev_board/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

feat(multi-touch): Multi-touch gesture detection in LVGL port
  components/esp_lvgl_port/Kconfig
  components/esp_lvgl_port/README.md
  components/esp_lvgl_port/idf_component.yml
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_touch.c
Due: none

feat(multi-touch): Multi-touch gestures in display example
  examples/display/main/lvgl_demo_ui.c
  examples/display/main/main.c
  examples/display/sdkconfig.bsp.esp-box-3
Due: update-examples_table

feat(multi-touch): Add track ID API to the GT911 driver
  components/lcd_touch/esp_lcd_touch_gt911/esp_lcd_touch_gt911.c
  components/lcd_touch/esp_lcd_touch_gt911/idf_component.yml
Due: none

feat(multi-touch): Add track ID API to esp_lcd_touch
  components/lcd_touch/esp_lcd_touch/esp_lcd_touch.c
  components/lcd_touch/esp_lcd_touch/idf_component.yml
  components/lcd_touch/esp_lcd_touch/include/esp_lcd_touch.h
Due: none

feat(io_expander): Added new IO expander PI4OE5V6408
  .github/workflows/upload_component.yml
  components/io_expander/.build-test-rules.yml
  components/io_expander/esp_io_expander/README.md
  components/io_expander/esp_io_expander/esp_io_expander.c
  components/io_expander/esp_io_expander/idf_component.yml
  components/io_expander/esp_io_expander/include/esp_io_expander.h
  components/io_expander/esp_io_expander_pi4ioe5v6408/CMakeLists.txt
  components/io_expander/esp_io_expander_pi4ioe5v6408/esp_io_expander_pi4ioe5v6408.c
  components/io_expander/esp_io_expander_pi4ioe5v6408/idf_component.yml
  components/io_expander/esp_io_expander_pi4ioe5v6408/include/esp_io_expander_pi4ioe5v6408.h
  components/io_expander/esp_io_expander_pi4ioe5v6408/license.txt
  components/io_expander/esp_io_expander_pi4ioe5v6408/test_apps/CMakeLists.txt
  components/io_expander/esp_io_expander_pi4ioe5v6408/test_apps/main/CMakeLists.txt
  components/io_expander/esp_io_expander_pi4ioe5v6408/test_apps/main/idf_component.yml
  components/io_expander/esp_io_expander_pi4ioe5v6408/test_apps/main/test_app_pi4ioe5v6408.c
  components/io_expander/esp_io_expander_pi4ioe5v6408/test_apps/sdkconfig.defaults
Due: none

ci(launchpad): Set parallel count to launchpad CI
  .github/workflows/gh-pages.yml
Due: none

feat(multi-touch): Add track id reading to GT911 driver
  components/lcd_touch/esp_lcd_touch_gt911/README.md
  components/lcd_touch/esp_lcd_touch_gt911/esp_lcd_touch_gt911.c
  components/lcd_touch/esp_lcd_touch_gt911/idf_component.yml
Due: none

feat(multi-touch): Add multi-touch gestures to LVGL port
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/README.md
  components/esp_lvgl_port/idf_component.yml
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_touch.c
Due: none

feat(multi-touch): Fix overriding path of touch controller for m5dial
  bsp/m5dial/README.md
  bsp/m5dial/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

feat(multi-touch): Add get_data API to esp_lcd_touch
  components/lcd_touch/esp_lcd_touch/esp_lcd_touch.c
  components/lcd_touch/esp_lcd_touch/idf_component.yml
  components/lcd_touch/esp_lcd_touch/include/esp_lcd_touch.h
Due: none

feat(presets): Add CMakePresets to an example
  examples/display_audio_photo/CMakePresets.json
Due: update-examples_table

feat(lcd_ili9341): Selectable default initial commands for LCD from three presets.
  components/lcd/esp_lcd_ili9341/esp_lcd_ili9341.c
  components/lcd/esp_lcd_ili9341/idf_component.yml
  components/lcd/esp_lcd_ili9341/include/esp_lcd_ili9341.h
Due: none

feat(mipi-dsi): Updated MIPI-DSI structs for IDF6
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_p4_function_ev_board/esp32_p4_function_ev_board.c
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/esp32_s3_lcd_ev_board/idf_component.yml
  bsp/esp32_s3_lcd_ev_board/src/bsp_sub_board.c
  components/lcd/esp_lcd_ili9881c/idf_component.yml
  components/lcd/esp_lcd_ili9881c/include/esp_lcd_ili9881c.h
  components/lcd/esp_lcd_ili9881c/test_apps/main/test_esp_lcd_ili9881c.c
  components/lcd/esp_lcd_lt8912b/idf_component.yml
  components/lcd/esp_lcd_lt8912b/include/esp_lcd_lt8912b.h
Due: bsp-dependencies-readme, update-supported-boards

fix(ci): Small bugs in release checkeer
  .github/ci/release_checker.py
Due: none

fix(lvgl_port): Fixed deinitialization of the task which was created with caps + lv_deinit()
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/examples/rgb_lcd/main/main.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port.c
  components/esp_lvgl_port/test_apps/lvgl_port/main/test.c
  components/lcd/esp_lcd_gc9503/test_apps/main/test_esp_lcd_gc9503.c
Due: none

fix(mpu6050): add missing esp_driver_gpio to REQUIRES
  components/mpu6050/CMakeLists.txt
Due: none

Update CMakeLists.txt to use conditional REQUIRES
  components/mpu6050/CMakeLists.txt
Due: none

fix(mpu6050): add missing esp_driver_gpio to REQUIRES
  components/mpu6050/CMakeLists.txt
  components/mpu6050/idf_component.yml
Due: none

Fix formatting in README for rounder_cb
  components/esp_lvgl_port/README.md
Due: none

Refactor rounder callback definition in header
  components/esp_lvgl_port/include/esp_lvgl_port_disp.h
Due: none

Update CHANGELOG with new feature and fixes
  components/esp_lvgl_port/CHANGELOG.md
Due: none

feat(bsp_selector): New feature for all BSP
  components/bsp_selector/CMakeLists.txt
  components/bsp_selector/README.md
  components/bsp_selector/idf_component.yml
  components/bsp_selector/idf_ext.py
  components/bsp_selector/license.txt
  examples/display/main/idf_component.yml
Due: update-examples_table

feat(esp_lvgl_port): Add rounder_cb option for displays
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/README.md
  components/esp_lvgl_port/include/esp_lvgl_port_disp.h
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port_disp.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

feat(multi-touch): Add track ID support to the tt21100 driver
  components/lcd_touch/esp_lcd_touch_tt21100/README.md
  components/lcd_touch/esp_lcd_touch_tt21100/esp_lcd_touch_tt21100.c
  components/lcd_touch/esp_lcd_touch_tt21100/idf_component.yml
  examples/display/sdkconfig.bsp.esp32_s3_korvo_2
Due: update-examples_table
