Repository espressif/esp-bsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bsp-dependencies-readme, update-supported-boards, update-examples_table

Path conditions:
  bsp-dependencies-readme: any of: bsp/.*/include/bsp/.*\.h|bsp/.*/idf_component\.yml|bsp/.*/README\.md
  update-supported-boards: any of: ^README\.md$|^bsp/
  update-examples_table: any of: ^README\.md$|^examples/

fix(Bsp): Fix tab5 record noise
  bsp/m5stack_tab5/m5stack_tab5.c
  examples/display_audio_photo/main/app_disp_fs.c
Due: update-supported-boards, update-examples_table

fix(bsp): Fix spi sd card mount
  bsp/m5stack_tab5/API.md
  bsp/m5stack_tab5/include/bsp/m5stack_tab5.h
  bsp/m5stack_tab5/m5stack_tab5.c
Due: bsp-dependencies-readme, update-supported-boards

feat(ds18b20)!: renamed the factory API and bump the version to v0.2.0
  components/ds18b20/CHANGELOG.md
  components/ds18b20/examples/ds18b20-read/README.md
  components/ds18b20/examples/ds18b20-read/main/CMakeLists.txt
  components/ds18b20/examples/ds18b20-read/main/ds18b20-read.c
  components/ds18b20/examples/ds18b20_read/CMakeLists.txt
  components/ds18b20/examples/ds18b20_read/README.md
  components/ds18b20/examples/ds18b20_read/main/CMakeLists.txt
  components/ds18b20/examples/ds18b20_read/main/ds18b20_example_main.c
  components/ds18b20/examples/ds18b20_read/main/idf_component.yml
  components/ds18b20/idf_component.yml
  components/ds18b20/include/ds18b20.h
  components/ds18b20/src/ds18b20.c
Due: none

Upgrade esp_codec_dev to ~1.4 (BSP-710) (#629)
  bsp/esp-box-3/README.md
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_s3_eye/README.md
  bsp/esp32_s3_korvo_2/README.md
  bsp/esp32_s3_korvo_2/idf_component.yml
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/m5dial/README.md
  bsp/m5stack_core_s3/README.md
Due: bsp-dependencies-readme, update-supported-boards

Update esp_lvgl_port_disp.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

Update esp_lvgl_port_priv.h
  components/esp_lvgl_port/priv_include/esp_lvgl_port_priv.h
Due: none

Update esp_lvgl_port_disp.c
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port_disp.c
Due: none

Fix inverted LED pin numbers
  bsp/esp32_s3_korvo_2/include/bsp/esp32_s3_korvo_2.h
Due: bsp-dependencies-readme, update-supported-boards

Bump version
  bsp/esp32_s3_korvo_2/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

Pre commit
  bsp/esp-box-3/README.md
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_s3_eye/README.md
  bsp/esp32_s3_korvo_2/API.md
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/m5dial/README.md
  bsp/m5stack_core_s3/README.md
Due: bsp-dependencies-readme, update-supported-boards

bsp(esp32_p4_eye): Example for MIPI-CSI camera.
  README.md
  examples/display_camera_csi/CMakeLists.txt
  examples/display_camera_csi/README.md
  examples/display_camera_csi/main/CMakeLists.txt
  examples/display_camera_csi/main/app_video.c
  examples/display_camera_csi/main/app_video.h
  examples/display_camera_csi/main/idf_component.yml
  examples/display_camera_csi/main/main.c
  examples/display_camera_csi/sdkconfig.bsp.esp32_p4_eye
  examples/display_camera_csi/sdkconfig.defaults
Due: update-supported-boards, update-examples_table

bsp(esp32_p4_eye): Board Support Package for ESP32-P4-EYE (generated)
  bsp/esp32_p4_eye/CMakeLists.txt
  bsp/esp32_p4_eye/Kconfig
  bsp/esp32_p4_eye/LICENSE
  bsp/esp32_p4_eye/README.md
  bsp/esp32_p4_eye/doc/esp32_p4_eye.webp
  bsp/esp32_p4_eye/esp32_p4_eye.c
  bsp/esp32_p4_eye/esp32_p4_eye.json
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_eye/include/bsp/config.h
  bsp/esp32_p4_eye/include/bsp/display.h
  bsp/esp32_p4_eye/include/bsp/esp-bsp.h
  bsp/esp32_p4_eye/include/bsp/esp32_p4_eye.h
  bsp/esp32_p4_eye/priv_include/bsp_err_check.h
Due: bsp-dependencies-readme, update-supported-boards

bsp(esp32_p4_eye): Board Support Package for ESP32-P4-EYE (generated)
  README.md
  bsp/esp32_p4_eye/CMakeLists.txt
  bsp/esp32_p4_eye/Kconfig
  bsp/esp32_p4_eye/LICENSE
  bsp/esp32_p4_eye/README.md
  bsp/esp32_p4_eye/doc/esp32_p4_eye.webp
  bsp/esp32_p4_eye/esp32_p4_eye.json
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_eye/include/bsp/config.h
  bsp/esp32_p4_eye/include/bsp/display.h
  bsp/esp32_p4_eye/include/bsp/esp-bsp.h
  bsp/esp32_p4_eye/include/bsp/esp32_p4_eye.h
  bsp/esp32_p4_eye/priv_include/bsp_err_check.h
  bsp/esp32_p4_eye/src/esp32_p4_eye.c
  bsp/esp32_p4_eye/src/led_blink_defaults.c
  bsp/esp_bsp_devkit/include/bsp/esp_bsp_devkit.h
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

feat(lcd): add nt35510 LCD driver
  .github/workflows/upload_component.yml
  components/lcd/.build-test-rules.yml
  components/lcd/esp_lcd_nt35510/CMakeLists.txt
  components/lcd/esp_lcd_nt35510/README.md
  components/lcd/esp_lcd_nt35510/esp_lcd_nt35510.c
  components/lcd/esp_lcd_nt35510/idf_component.yml
  components/lcd/esp_lcd_nt35510/include/esp_lcd_nt35510.h
  components/lcd/esp_lcd_nt35510/license.txt
  components/lcd/esp_lcd_nt35510/test_apps/CMakeLists.txt
  components/lcd/esp_lcd_nt35510/test_apps/main/CMakeLists.txt
  components/lcd/esp_lcd_nt35510/test_apps/main/idf_component.yml
  components/lcd/esp_lcd_nt35510/test_apps/main/test_esp_lcd_nt35510.c
  components/lcd/esp_lcd_nt35510/test_apps/main/test_i80_board.h
  components/lcd/esp_lcd_nt35510/test_apps/sdkconfig.defaults
  docu/LCD.md
  docu/pics/nt35510.png
Due: none

fix: Use new IDF_VERSION symbol in .build-test-rules.yml files
  components/.build-test-rules.yml
  components/io_expander/.build-test-rules.yml
  components/lcd/.build-test-rules.yml
  examples/.build-test-rules.yml
Due: update-examples_table

feat(ds18b20): support to trigger multi sensors conversion
  components/ds18b20/CHANGELOG.md
  components/ds18b20/README.md
  components/ds18b20/examples/ds18b20-read/main/ds18b20-read.c
  components/ds18b20/idf_component.yml
  components/ds18b20/include/ds18b20.h
  components/ds18b20/src/ds18b20.c
Due: none

feat: Use new dma_burst_size member for IDF>=5.3
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/idf_component.yml
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/ws_7inch.c
  bsp/esp32_c3_lcdkit/README.md
  bsp/esp32_s3_lcd_ev_board/src/bsp_sub_board.c
  components/esp_lvgl_port/examples/rgb_lcd/main/main.c
  components/lcd/esp_lcd_gc9503/README.md
  components/lcd/esp_lcd_gc9503/test_apps/main/CMakeLists.txt
  components/lcd/esp_lcd_gc9503/test_apps/main/test_esp_lcd_gc9503.c
  components/lcd/esp_lcd_gc9a01/test_apps/main/CMakeLists.txt
  components/lcd/esp_lcd_ili9341/test_apps/main/CMakeLists.txt
  components/lcd/esp_lcd_ra8875/README.md
  components/lcd/esp_lcd_st7796/include/esp_lcd_st7796.h
  components/lcd/esp_lcd_st7796/test_apps/main/CMakeLists.txt
Due: bsp-dependencies-readme, update-supported-boards

fix(esp_lvgl_port): Place LVGL task stack to internal RAM
  components/esp_lvgl_port/include/esp_lvgl_port.h
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port.c
Due: none

ci(runner): Removed example_display_sensors from runner
  .github/workflows/build-run-applications.yml
Due: none

fix(bsp): Fix inverted LED pin numbers for Korvo2
  bsp/esp-box-3/README.md
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_s3_eye/README.md
  bsp/esp32_s3_korvo_2/API.md
  bsp/esp32_s3_korvo_2/idf_component.yml
  bsp/esp32_s3_korvo_2/include/bsp/esp32_s3_korvo_2.h
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/m5dial/README.md
  bsp/m5stack_core_s3/README.md
Due: bsp-dependencies-readme, update-supported-boards

refactor(mipi_lcd): set phy_clk_src to 0 as default clock source
  bsp/esp32_p4_function_ev_board/esp32_p4_function_ev_board.c
  components/lcd/esp_lcd_ili9881c/idf_component.yml
  components/lcd/esp_lcd_ili9881c/include/esp_lcd_ili9881c.h
  components/lcd/esp_lcd_lt8912b/idf_component.yml
  components/lcd/esp_lcd_lt8912b/include/esp_lcd_lt8912b.h
  components/lcd/esp_lcd_st7796/idf_component.yml
  components/lcd/esp_lcd_st7796/include/esp_lcd_st7796.h
Due: update-supported-boards

feat(esp_lvgl_port): Release 2.6.1
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/idf_component.yml
Due: none

fix(esp_lvgl_port): Change minimum IDF version
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/idf_component.yml
Due: none

bsp(esp32_s2_kaluga_kit): Deprecated
  README.md
  bsp/esp32_s2_kaluga_kit/README.md
  bsp/esp32_s2_kaluga_kit/idf_component.yml
  bsp/esp32_s2_kaluga_kit/include/bsp/esp32_s2_kaluga_kit.h
  examples/.build-test-rules.yml
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

feat(bh1750): Migrate to I2C driver-NG
  components/.build-test-rules.yml
  components/bh1750/CMakeLists.txt
  components/bh1750/README.md
  components/bh1750/bh1750.c
  components/bh1750/idf_component.yml
  components/bh1750/include/bh1750.h
  components/bh1750/test/CMakeLists.txt
  components/bh1750/test/bh1750_test.c
  components/bh1750/test_apps/CMakeLists.txt
  components/bh1750/test_apps/main/CMakeLists.txt
  components/bh1750/test_apps/main/idf_component.yml
  components/bh1750/test_apps/main/test_apps.c
  components/bh1750/test_apps/sdkconfig.defaults
  test_apps/.build-test-rules.yml
  test_apps/components/CMakeLists.txt
Due: none

feat(lcd): Migrate/fix unit tests to I2C driver-NG
  components/lcd/.build-test-rules.yml
  components/lcd/esp_lcd_gc9503/test_apps/main/idf_component.yml
  components/lcd/esp_lcd_gc9503/test_apps/main/test_esp_lcd_gc9503.c
  components/lcd/esp_lcd_ili9881c/test_apps/main/test_esp_lcd_ili9881c.c
  components/lcd/esp_lcd_st7796/test_apps/main/test_esp_lcd_st7796_mipi.c
Due: none

ci(noglib): Remove examples in noglib
  .github/ci/bsp_noglib.py
  .github/ci/update_supported_boards.py
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/esp32_s3_lcd_ev_board/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

ci(release_checker): Script for check changes after last release for all components and BSPs
  .github/ci/release_checker.py
  .github/workflows/release-check.yml
  README.md
Due: update-supported-boards, update-examples_table

bsp(esp32_p4_eye): Board Support Package for ESP32-P4-EYE (generated)
  .github/workflows/upload_component.yml
  .github/workflows/upload_component_noglib.yml
  .pre-commit-config.yaml
  README.md
  bsp/esp32_p4_eye/API.md
  bsp/esp32_p4_eye/CMakeLists.txt
  bsp/esp32_p4_eye/Kconfig
  bsp/esp32_p4_eye/LICENSE
  bsp/esp32_p4_eye/README.md
  bsp/esp32_p4_eye/doc/esp32_p4_eye.webp
  bsp/esp32_p4_eye/doc/esp32_p4_eye_back_marked.webp
  bsp/esp32_p4_eye/doc/esp32_p4_eye_front_marked.webp
  bsp/esp32_p4_eye/esp32_p4_eye.json
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_eye/include/bsp/config.h
  bsp/esp32_p4_eye/include/bsp/display.h
  bsp/esp32_p4_eye/include/bsp/esp-bsp.h
  bsp/esp32_p4_eye/include/bsp/esp32_p4_eye.h
  bsp/esp32_p4_eye/priv_include/bsp_err_check.h
  bsp/esp32_p4_eye/src/esp32_p4_eye.c
  bsp/esp32_p4_eye/src/led_blink_defaults.c
  bsp/esp_bsp_devkit/include/bsp/esp_bsp_devkit.h
  docu/doxyfiles/esp32_p4_eye
  examples/bsp_ext.py
  examples/display/sdkconfig.bsp.esp32_p4_eye
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_p4_eye
  examples/display_rotation/sdkconfig.bsp.esp32_p4_eye
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

Update esp_codec_dev version to ^1.4.0
  bsp/esp32_p4_function_ev_board/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

Add example that demonstrates screen rotation using canvas
  components/lcd/esp_lcd_ssd1681/examples/epaper_lvgl_rotate/CMakeLists.txt
  components/lcd/esp_lcd_ssd1681/examples/epaper_lvgl_rotate/README.md
  components/lcd/esp_lcd_ssd1681/examples/epaper_lvgl_rotate/main/CMakeLists.txt
  components/lcd/esp_lcd_ssd1681/examples/epaper_lvgl_rotate/main/idf_component.yml
  components/lcd/esp_lcd_ssd1681/examples/epaper_lvgl_rotate/main/lvgl_demo_ui.c
  components/lcd/esp_lcd_ssd1681/examples/epaper_lvgl_rotate/main/main.c
  components/lcd/esp_lcd_ssd1681/examples/epaper_lvgl_rotate/main/ssd1681_waveshare_1in54_lut.h
Due: none
