Repository espressif/esp-bsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bsp-dependencies-readme, update-supported-boards, update-examples_table

Path conditions:
  bsp-dependencies-readme: any of: bsp/.*/include/bsp/.*\.h|bsp/.*/idf_component\.yml|bsp/.*/README\.md
  update-supported-boards: any of: ^README\.md$|^bsp/
  update-examples_table: any of: ^README\.md$|^examples/

feat(multi-touch): Add track ID support to the GT1151 driver
  components/lcd_touch/esp_lcd_touch_gt1151/README.md
  components/lcd_touch/esp_lcd_touch_gt1151/esp_lcd_touch_gt1151.c
  components/lcd_touch/esp_lcd_touch_gt1151/idf_component.yml
  examples/display/sdkconfig.bsp.esp32_s3_lcd_ev_board
Due: update-examples_table

feat(multi-touch): Add track ID support to the ft5x06 driver
  components/lcd_touch/esp_lcd_touch_ft5x06/README.md
  components/lcd_touch/esp_lcd_touch_ft5x06/esp_lcd_touch_ft5x06.c
  components/lcd_touch/esp_lcd_touch_ft5x06/idf_component.yml
  examples/display/sdkconfig.bsp.m5stack_core_2
Due: update-examples_table

fix(ci): Small bugs in release checkeer
  .github/ci/release_checker.py
Due: none

bsp(esp32_c3_lcdkit): bump led_strip version to 3.0.2
  bsp/esp32_c3_lcdkit/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

fix(noglib): Fix path of BSP components in noglib readme
  .github/ci/bsp_noglib.py
Due: none

fix(lcd): use new mipi dma2d api
  components/lcd/esp_lcd_ili9881c/esp_lcd_ili9881c.c
  components/lcd/esp_lcd_ili9881c/idf_component.yml
  components/lcd/esp_lcd_ili9881c/include/esp_lcd_ili9881c.h
  components/lcd/esp_lcd_lt8912b/esp_lcd_lt8912b.c
  components/lcd/esp_lcd_lt8912b/idf_component.yml
  components/lcd/esp_lcd_lt8912b/include/esp_lcd_lt8912b.h
  components/lcd/esp_lcd_st7796/esp_lcd_st7796_mipi.c
  components/lcd/esp_lcd_st7796/idf_component.yml
  components/lcd/esp_lcd_st7796/include/esp_lcd_st7796.h
Due: none

feat(sdcard): Add a picture of ESP-BOX-3 running the SD card example
  examples/display_sdcard/README.md
  examples/display_sdcard/doc/pic.webp
Due: update-examples_table

feat(multi-touch): Add track ID support to the tt21100 driver
  components/lcd_touch/esp_lcd_touch_tt21100/README.md
  components/lcd_touch/esp_lcd_touch_tt21100/esp_lcd_touch_tt21100.c
  components/lcd_touch/esp_lcd_touch_tt21100/idf_component.yml
  examples/display/sdkconfig.bsp.esp32_s3_korvo_2
Due: update-examples_table

fix(lcd_touch): Align all touch drivers to the same syntax and argument checking
  components/lcd_touch/esp_lcd_touch/esp_lcd_touch.c
  components/lcd_touch/esp_lcd_touch/idf_component.yml
  components/lcd_touch/esp_lcd_touch_cst816s/README.md
  components/lcd_touch/esp_lcd_touch_cst816s/esp_lcd_touch_cst816s.c
  components/lcd_touch/esp_lcd_touch_cst816s/idf_component.yml
  components/lcd_touch/esp_lcd_touch_gt911/README.md
  components/lcd_touch/esp_lcd_touch_gt911/esp_lcd_touch_gt911.c
  components/lcd_touch/esp_lcd_touch_gt911/idf_component.yml
  components/lcd_touch/esp_lcd_touch_stmpe610/README.md
  components/lcd_touch/esp_lcd_touch_stmpe610/esp_lcd_touch_stmpe610.c
  components/lcd_touch/esp_lcd_touch_stmpe610/idf_component.yml
Due: none

feat(multi-touch): Add track ID support to the ft5x06 driver
  components/lcd_touch/esp_lcd_touch_ft5x06/README.md
  components/lcd_touch/esp_lcd_touch_ft5x06/esp_lcd_touch_ft5x06.c
  components/lcd_touch/esp_lcd_touch_ft5x06/idf_component.yml
Due: none

feat(multi-touch): Enable gestures in display example for esp32_p4_function_ev_board
  examples/display/sdkconfig.bsp.esp32_p4_function_ev_board
Due: update-examples_table

feat(esp_lvgl_port): Add rounder_cb option for displays
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/README.md
  components/esp_lvgl_port/include/esp_lvgl_port_disp.h
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port_disp.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

feat(lcd_ili9341): Selectable default initial commands for LCD from three presets.
  components/lcd/esp_lcd_ili9341/README.md
  components/lcd/esp_lcd_ili9341/idf_component.yml
  components/lcd/esp_lcd_ili9341/include/esp_lcd_ili9341_init_cmds_1.h
  components/lcd/esp_lcd_ili9341/include/esp_lcd_ili9341_init_cmds_2.h
Due: none

fix(imu): Change signedness of ICM42670 temperature readings
  components/icm42670/icm42670.c
  components/icm42670/include/icm42670.h
Due: none

fix(imu): Rework the complementary filter implementation
  components/icm42670/CMakeLists.txt
  components/icm42670/README.md
  components/icm42670/icm42670.c
  components/icm42670/idf_component.yml
Due: none

WIP - Sensor hub
  components/icm42670/CMakeLists.txt
  components/icm42670/icm42670.c
  components/icm42670/idf_component.yml
  examples/icm42670/main/blink_example_main.c
  examples/icm42670/main/idf_component.yml
Due: update-examples_table

WIP - Basic ICM42670 reading
  examples/icm42670/CMakeLists.txt
  examples/icm42670/README.md
  examples/icm42670/main/CMakeLists.txt
  examples/icm42670/main/Kconfig.projbuild
  examples/icm42670/main/blink_example_main.c
  examples/icm42670/main/idf_component.yml
  examples/icm42670/pytest_blink.py
  examples/icm42670/sdkconfig.defaults
  examples/icm42670/sdkconfig.defaults.esp32c3
Due: update-examples_table

WIP - Added SHTC3 component
  components/pedrominatel__shtc3/CMakeLists.txt
  components/pedrominatel__shtc3/Kconfig
  components/pedrominatel__shtc3/README.md
  components/pedrominatel__shtc3/idf_component.yml
  components/pedrominatel__shtc3/include/shtc3.h
  components/pedrominatel__shtc3/license.txt
  components/pedrominatel__shtc3/shtc3.c
Due: none

WIP - Added SHTC3 to sensor hub example
  components/pedrominatel__shtc3/CMakeLists.txt
  components/pedrominatel__shtc3/idf_component.yml
  components/pedrominatel__shtc3/shtc3.c
  examples/icm42670/main/blink_example_main.c
  examples/icm42670/main/idf_component.yml
Due: update-examples_table

Add support for CH422G chip
  components/io_expander/esp_io_expander_ch422g/CMakeLists.txt
  components/io_expander/esp_io_expander_ch422g/README.md
  components/io_expander/esp_io_expander_ch422g/esp_io_expander_ch422g.c
  components/io_expander/esp_io_expander_ch422g/idf_component.yml
  components/io_expander/esp_io_expander_ch422g/include/esp_io_expander_ch422g.h
  components/io_expander/esp_io_expander_ch422g/license.txt
  components/io_expander/esp_io_expander_ch422g/test_apps/CMakeLists.txt
  components/io_expander/esp_io_expander_ch422g/test_apps/main/CMakeLists.txt
  components/io_expander/esp_io_expander_ch422g/test_apps/main/idf_component.yml
  components/io_expander/esp_io_expander_ch422g/test_apps/main/test_app_ch422g.c
  components/io_expander/esp_io_expander_ch422g/test_apps/sdkconfig.defaults
Due: none

More verbose error messages
  components/io_expander/esp_io_expander_ch422g/esp_io_expander_ch422g.c
  components/io_expander/esp_io_expander_ch422g/idf_component.yml
Due: none

fix(io_expander): Fix typo in the word direction
  components/io_expander/esp_io_expander/include/esp_io_expander.h
  components/io_expander/esp_io_expander_ht8574/README.md
  components/io_expander/esp_io_expander_tca9554/README.md
  components/io_expander/esp_io_expander_tca95xx_16bit/README.md
Due: none

Address some comments from AI code review
  components/io_expander/esp_io_expander_ch422g/README.md
  components/io_expander/esp_io_expander_ch422g/esp_io_expander_ch422g.c
  components/io_expander/esp_io_expander_ch422g/include/esp_io_expander_ch422g.h
Due: none

fix(lcd): use new mipi dma2d api
  bsp/esp32_p4_function_ev_board/Kconfig
  bsp/esp32_p4_function_ev_board/esp32_p4_function_ev_board.c
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/m5stack_tab5/Kconfig
  bsp/m5stack_tab5/src/m5stack_tab5.c
  components/lcd/esp_lcd_ili9881c/idf_component.yml
  components/lcd/esp_lcd_ili9881c/include/esp_lcd_ili9881c.h
  components/lcd/esp_lcd_lt8912b/idf_component.yml
  components/lcd/esp_lcd_lt8912b/include/esp_lcd_lt8912b.h
  components/lcd/esp_lcd_st7796/idf_component.yml
  components/lcd/esp_lcd_st7796/include/esp_lcd_st7796.h
  components/lcd/esp_lcd_st7796/test_apps/main/test_esp_lcd_st7796_mipi.c
Due: bsp-dependencies-readme, update-supported-boards

fix(display_audio_photo): update CMakeLists and idf_component.yml for dependencies and includes
  bsp/m5stack_tab5/idf_component.yml
  examples/display_audio_photo/main/CMakeLists.txt
  examples/display_audio_photo/main/app_disp_fs.c
  examples/display_audio_photo/main/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix(ci): Fix ruamel package after update.
  .github/workflows/build-run-applications.yml
Due: none

ci(build): Set parallel count to 10, removed IDF 5.1, added IDF 6.0
  .github/workflows/build-run-applications.yml
  README.md
  examples/.build-test-rules.yml
Due: update-supported-boards, update-examples_table

feat(bsp_selector): Component for selection BSP in menuconfig
  .github/PULL_REQUEST_TEMPLATE/pr_template_bsp.md
  .github/workflows/build-run-applications.yml
  components/bsp_selector/CMakeLists.txt
  components/bsp_selector/Kconfig
  components/bsp_selector/README.md
  components/bsp_selector/idf_component.yml
  components/bsp_selector/license.txt
  examples/display/main/idf_component.yml
  examples/display/sdkconfig.bsp.esp-box
  examples/display/sdkconfig.bsp.esp-box-3
  examples/display/sdkconfig.bsp.esp-box-lite
  examples/display/sdkconfig.bsp.esp32_c3_lcdkit
  examples/display/sdkconfig.bsp.esp32_p4_eye
  examples/display/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display/sdkconfig.bsp.esp32_s2_kaluga_kit
  examples/display/sdkconfig.bsp.esp32_s3_eye
  examples/display/sdkconfig.bsp.esp32_s3_korvo_2
  examples/display/sdkconfig.bsp.esp32_s3_lcd_ev_board
  examples/display/sdkconfig.bsp.esp32_s3_usb_otg
  examples/display/sdkconfig.bsp.esp_wrover_kit
  examples/display/sdkconfig.bsp.m5_atom_s3
  examples/display/sdkconfig.bsp.m5dial
  examples/display/sdkconfig.bsp.m5stack_core
  examples/display/sdkconfig.bsp.m5stack_core_2
  examples/display/sdkconfig.bsp.m5stack_core_s3
  examples/display/sdkconfig.bsp.m5stack_tab5
  examples/display/sdkconfig.defaults.esp32
Due: update-examples_table

fix(ci): Decrease number of comments created by failing latest ESP-IDF
  .github/workflows/build-run-applications.yml
Due: none

feat(io_expander): add GPIO API wrapper for ESP IO Expander
  components/io_expander/esp_io_expander/CMakeLists.txt
  components/io_expander/esp_io_expander/Kconfig
  components/io_expander/esp_io_expander/esp_gpio_wrapper.c
  components/io_expander/esp_io_expander/include/esp_gpio_wrapper.h
Due: none

fix(ci): Reformat pre-commit YAML and add doxygen sensitivity paths
  .pre-commit-config.yaml
Due: none

feat(ci): Add sensitivity paths to actions
  .github/workflows/build-run-applications.yml
  .github/workflows/upload_component.yml
  .github/workflows/upload_component_noglib.yml
Due: none

fix(ci): Bump doxygen action version
  .github/workflows/doxygen.yml
Due: none

fix(ci): Reformat YAML
  .github/workflows/upload_component.yml
Due: none

fix(ci): Combine Jira sync task into a single action
  .github/workflows/issue_comment.yml
  .github/workflows/jira_sync.yml
  .github/workflows/new_prs.yml
Due: none

fix(ci): Remove unused function and add timeout to benchmarks
  .github/ci/update_readme_dependencies.py
Due: none
