Repository espressif/esp-bsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bsp-dependencies-readme, update-supported-boards, update-examples_table

Path conditions:
  bsp-dependencies-readme: any of: bsp/.*/include/bsp/.*\.h|bsp/.*/idf_component\.yml|bsp/.*/README\.md
  update-supported-boards: any of: ^README\.md$|^bsp/
  update-examples_table: any of: ^README\.md$|^examples/

ci(component_upload): Upload all examples to each BSP with right YML files
  .github/ci/bsp_example_update.py
  .github/workflows/upload_component.yml
  bsp/esp-box-3/README.md
  bsp/esp-box-3/idf_component.yml
  bsp/esp32_c3_lcdkit/idf_component.yml
  bsp/esp32_lyrat/idf_component.yml
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/esp32_s2_kaluga_kit/idf_component.yml
  bsp/esp32_s3_eye/README.md
  bsp/esp32_s3_eye/idf_component.yml
  bsp/esp32_s3_korvo_1/idf_component.yml
  bsp/esp32_s3_korvo_2/idf_component.yml
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/esp32_s3_lcd_ev_board/idf_component.yml
  bsp/esp32_s3_usb_otg/idf_component.yml
  bsp/m5_atom_s3/idf_component.yml
  bsp/m5dial/README.md
  bsp/m5dial/idf_component.yml
  bsp/m5stack_core/idf_component.yml
  bsp/m5stack_core_2/idf_component.yml
  bsp/m5stack_core_s3/README.md
  bsp/m5stack_core_s3/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

fix(component_upload): Fix params for v2 upload-component
  .github/workflows/upload_component.yml
Due: none

doc(tags): Add tags, update readme
  .github/ci/bsp_example_update.py
  .github/ci/bsp_noglib.py
  .github/workflows/build-run-applications.yml
  bsp/esp-box-3/README.md
  bsp/esp-box-3/idf_component.yml
  bsp/esp32_azure_iot_kit/idf_component.yml
  bsp/esp32_c3_lcdkit/idf_component.yml
  bsp/esp32_lyrat/idf_component.yml
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/esp32_s2_kaluga_kit/idf_component.yml
  bsp/esp32_s3_eye/README.md
  bsp/esp32_s3_eye/idf_component.yml
  bsp/esp32_s3_korvo_1/idf_component.yml
  bsp/esp32_s3_korvo_2/idf_component.yml
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/esp32_s3_lcd_ev_board/idf_component.yml
  bsp/esp32_s3_usb_otg/idf_component.yml
  bsp/esp_bsp_devkit/idf_component.yml
  bsp/esp_bsp_generic/idf_component.yml
  bsp/esp_wrover_kit/idf_component.yml
  bsp/m5_atom_s3/idf_component.yml
  bsp/m5dial/README.md
  bsp/m5dial/idf_component.yml
  bsp/m5stack_core/idf_component.yml
  bsp/m5stack_core_2/idf_component.yml
  bsp/m5stack_core_s3/README.md
  bsp/m5stack_core_s3/idf_component.yml
  examples/display/README.md
  examples/display_audio_photo/README.md
  examples/display_lvgl_demos/README.md
  examples/display_rotation/README.md
  examples/display_usb_hid/README.md
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

feat(cst816s): support disabling ID read via Kconfig
  components/lcd_touch/esp_lcd_touch_cst816s/Kconfig
  components/lcd_touch/esp_lcd_touch_cst816s/README.md
  components/lcd_touch/esp_lcd_touch_cst816s/esp_lcd_touch_cst816s.c
  components/lcd_touch/esp_lcd_touch_cst816s/idf_component.yml
Due: none

Properly swap bytes and draw to display for direct mode in LVGL9
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

Add Waveshare 2.7 inch (176x264) display with SSD1680
  components/lcd/esp_lcd_ssd1681/examples/epaper_demo/main/bitmaps_176x264.c
Due: none

Add Waveshare 2.7 inch (176x264) display with SSD1680
  components/lcd/esp_lcd_ssd1681/esp_lcd_panel_ssd1681.c
  components/lcd/esp_lcd_ssd1681/esp_lcd_ssd1681_commands.h
  components/lcd/esp_lcd_ssd1681/examples/epaper_demo/README.md
  components/lcd/esp_lcd_ssd1681/examples/epaper_demo/main/CMakeLists.txt
  components/lcd/esp_lcd_ssd1681/examples/epaper_demo/main/img_bitmap.c
  components/lcd/esp_lcd_ssd1681/examples/epaper_demo/main/img_bitmap.h
  components/lcd/esp_lcd_ssd1681/examples/epaper_demo/main/main.c
  components/lcd/esp_lcd_ssd1681/examples/epaper_lvgl_demo/main/idf_component.yml
  components/lcd/esp_lcd_ssd1681/include/esp_lcd_panel_ssd1681.h
Due: none

epaper_lvgl_demo changed to also support 2.7 inch display
  components/lcd/esp_lcd_ssd1681/examples/epaper_lvgl_demo/main/main.c
Due: none

refactor(gc9a01): specify the rgb element order
  components/lcd/esp_lcd_gc9a01/README.md
  components/lcd/esp_lcd_gc9a01/esp_lcd_gc9a01.c
  components/lcd/esp_lcd_gc9a01/idf_component.yml
  components/lcd/esp_lcd_gc9a01/test_apps/main/test_esp_lcd_gc9a01.c
Due: none

refactor(ili9341): specify rgb element order
  components/lcd/esp_lcd_ili9341/README.md
  components/lcd/esp_lcd_ili9341/esp_lcd_ili9341.c
  components/lcd/esp_lcd_ili9341/idf_component.yml
  components/lcd/esp_lcd_ili9341/test_apps/main/test_esp_lcd_ili9341.c
Due: none

refactor(st7796): specify rgb element order
  components/lcd/esp_lcd_st7796/README.md
  components/lcd/esp_lcd_st7796/esp_lcd_st7796_general.c
  components/lcd/esp_lcd_st7796/idf_component.yml
  components/lcd/esp_lcd_st7796/test_apps/main/test_esp_lcd_st7796_general.c
Due: none

feat(ds18b20): support to trigger multi sensors conversion
  components/ds18b20/CHANGELOG.md
  components/ds18b20/README.md
  components/ds18b20/examples/ds18b20-read/main/ds18b20-read.c
  components/ds18b20/idf_component.yml
  components/ds18b20/include/ds18b20.h
  components/ds18b20/src/ds18b20.c
Due: none

fix(esp32_s3_korvo_2): Fixed LED states for V3.1 board
  bsp/esp32_s3_korvo_2/README.md
  bsp/esp32_s3_korvo_2/esp32_s3_korvo_2.c
  bsp/esp32_s3_korvo_2/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

feat(esp_lvgl_port): Add rounder_cb option for displays
  components/esp_lvgl_port/include/esp_lvgl_port_disp.h
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

chore(docs): Changelog, Readme and version bump
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/README.md
  components/esp_lvgl_port/idf_component.yml
Due: none

chore(docs): Fix typo
  components/esp_lvgl_port/CHANGELOG.md
Due: none

Fixed line endings and last line.
  components/lcd/esp_lcd_ssd1681/examples/epaper_demo/main/bitmaps_176x264.c
Due: none

fix: Links to launchpad
  README.md
  bsp/esp-box-3/README.md
  bsp/esp-box-lite/README.md
  bsp/esp-box/README.md
  bsp/esp32_azure_iot_kit/README.md
  bsp/esp32_c3_lcdkit/README.md
  bsp/esp32_lyrat/README.md
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_s2_kaluga_kit/README.md
  bsp/esp32_s3_eye/README.md
  bsp/esp32_s3_korvo_1/README.md
  bsp/esp32_s3_korvo_2/README.md
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/esp32_s3_usb_otg/README.md
  bsp/esp_wrover_kit/README.md
  bsp/m5_atom_s3/README.md
  bsp/m5dial/README.md
  bsp/m5stack_core/README.md
  bsp/m5stack_core_2/README.md
  bsp/m5stack_core_s3/README.md
  examples/audio/README.md
  examples/audio/main/main.c
  examples/display/README.md
  examples/display/main/main.c
  examples/display_audio_photo/README.md
  examples/display_audio_photo/main/main.c
  examples/display_camera/README.md
  examples/display_camera/main/main.c
  examples/display_lvgl_demos/README.md
  examples/display_lvgl_demos/main/main.c
  examples/display_rotation/README.md
  examples/display_rotation/main/main.c
  examples/display_sensors/README.md
  examples/display_sensors/main/main.c
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix(esp_lvgl_port): Place LVGL task stack to internal RAM
  components/esp_lvgl_port/include/esp_lvgl_port.h
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port.c
Due: none

feat: Use new dma_burst_size member for IDF>=5.3
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/idf_component.yml
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/ws_7inch.c
  bsp/esp32_c3_lcdkit/README.md
  bsp/esp32_s3_lcd_ev_board/src/bsp_sub_board.c
  components/esp_lvgl_port/examples/rgb_lcd/main/main.c
  components/lcd/esp_lcd_gc9503/README.md
  components/lcd/esp_lcd_gc9503/test_apps/main/CMakeLists.txt
  components/lcd/esp_lcd_gc9503/test_apps/main/test_esp_lcd_gc9503.c
  components/lcd/esp_lcd_gc9a01/test_apps/main/CMakeLists.txt
  components/lcd/esp_lcd_ili9341/test_apps/main/CMakeLists.txt
  components/lcd/esp_lcd_ra8875/README.md
  components/lcd/esp_lcd_st7796/include/esp_lcd_st7796.h
  components/lcd/esp_lcd_st7796/test_apps/main/CMakeLists.txt
Due: bsp-dependencies-readme, update-supported-boards

ci(runner): Removed example_display_sensors from runner
  .github/workflows/build-run-applications.yml
Due: none

Update Kconfig - jd9165
  bsp/esp32_p4_function_ev_board/Kconfig
Due: update-supported-boards

Create esp_lcd_jd9165
  components/lcd/esp_lcd_jd9165
Due: none

fix: Use new IDF_VERSION symbol in .build-test-rules.yml files
  components/.build-test-rules.yml
  components/io_expander/.build-test-rules.yml
  components/lcd/.build-test-rules.yml
  examples/.build-test-rules.yml
Due: update-examples_table

Upgrade esp_codec_dev
  bsp/esp32_s3_korvo_2/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

Bump version
  bsp/esp32_s3_korvo_2/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

Update README
  bsp/esp32_s3_korvo_2/README.md
Due: bsp-dependencies-readme, update-supported-boards

Run pre commit
  bsp/esp-box-3/README.md
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_s3_eye/README.md
  bsp/esp32_s3_korvo_2/README.md
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/m5dial/README.md
  bsp/m5stack_core_s3/README.md
Due: bsp-dependencies-readme, update-supported-boards

fix(bsp): Fix mic select define
  bsp/m5stack_tab5/m5stack_tab5.c
Due: update-supported-boards

fix(bsp): Fix not used warnning
  bsp/m5stack_tab5/include/bsp/display.h
  bsp/m5stack_tab5/m5stack_tab5.c
Due: bsp-dependencies-readme, update-supported-boards

fix(bsp): Remove redundant sd gpio define
  bsp/m5stack_tab5/m5stack_tab5.c
Due: update-supported-boards

fix(bsp): Fix using color space define
  bsp/m5stack_tab5/m5stack_tab5.c
Due: update-supported-boards

fix(bsp): Extract pi4ioe5v6408 to io expander component
  bsp/m5stack_tab5/CMakeLists.txt
  bsp/m5stack_tab5/idf_component.yml
  bsp/m5stack_tab5/include/bsp/display.h
  bsp/m5stack_tab5/m5stack_tab5.c
  components/io_expander/.build-test-rules.yml
  components/io_expander/esp_io_expander_pi4ioe5v6408/CMakeLists.txt
  components/io_expander/esp_io_expander_pi4ioe5v6408/esp_io_expander_pi4ioe5v6408.c
  components/io_expander/esp_io_expander_pi4ioe5v6408/idf_component.yml
  components/io_expander/esp_io_expander_pi4ioe5v6408/include/esp_io_expander_pi4ioe5v6408.h
  components/io_expander/esp_io_expander_pi4ioe5v6408/license.txt
Due: bsp-dependencies-readme, update-supported-boards

fix(bsp): Add bsp_feature_enable api, fix io expander init calling function
  bsp/m5stack_tab5/API.md
  bsp/m5stack_tab5/include/bsp/m5stack_tab5.h
  bsp/m5stack_tab5/m5stack_tab5.c
Due: bsp-dependencies-readme, update-supported-boards
