Repository espressif/esp-bsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bsp-dependencies-readme, update-supported-boards, update-examples_table

bsp-dependencies-readme:
  name: Update BSP README with dependencies section
  entry: .github/ci/update_readme_dependencies.py
  language: python
  additional_dependencies:
  - idf_component_manager==1.4.2
  - py-markdown-table

update-supported-boards:
  name: Update Supported Boards Table
  entry: .github/ci/update_supported_boards.py
  language: python
  additional_dependencies:
  - idf_component_manager==1.4.2

update-examples_table:
  name: Update Examples Table
  entry: .github/ci/update_examples_table.py
  language: python

Fix use of SSD1681_PARAM_OUTPUT_CTRL and remove log_level overrides
  components/lcd/esp_lcd_ssd1681/esp_lcd_panel_ssd1681.c
Due: none

Fix bugs flagged by cursor[bot]
  components/lcd/esp_lcd_ssd1681/esp_lcd_panel_ssd1681.c
  components/lcd/esp_lcd_ssd1681/examples/epaper_lvgl_rotate/main/main.c
Due: none

Update idf_component.yml
  bsp/esp32_p4_function_ev_board/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

feat(examples): Enable SIMD for S3 boards
  examples/display_lvgl_benchmark/sdkconfig.bsp.esp-box
  examples/display_lvgl_benchmark/sdkconfig.bsp.esp-box-3
  examples/display_lvgl_benchmark/sdkconfig.bsp.esp-box-lite
  examples/display_lvgl_benchmark/sdkconfig.bsp.esp32_s3_eye
  examples/display_lvgl_benchmark/sdkconfig.bsp.esp32_s3_korvo_2
  examples/display_lvgl_benchmark/sdkconfig.bsp.esp32_s3_lcd_ev_board
  examples/display_lvgl_benchmark/sdkconfig.bsp.m5dial
  examples/display_lvgl_benchmark/sdkconfig.bsp.m5stack_core_s3
Due: update-examples_table

fix(esp_lvgl_port): Add support for LVGL 9.2 and above
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/CMakeLists.txt
  components/esp_lvgl_port/include/esp_lvgl_port_lv_blend.h
  examples/display_lvgl_demos/main/CMakeLists.txt
  examples/display_lvgl_demos/partitions.csv
  examples/display_lvgl_demos/sdkconfig.bsp.esp-box
  examples/display_lvgl_demos/sdkconfig.bsp.esp-box-3
  examples/display_lvgl_demos/sdkconfig.bsp.esp-box-lite
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_s2_kaluga_kit
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_s3_eye
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_s3_korvo_2
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_s3_lcd_ev_board
  examples/display_lvgl_demos/sdkconfig.bsp.m5dial
  examples/display_lvgl_demos/sdkconfig.bsp.m5stack_core_s3
  examples/display_lvgl_demos/sdkconfig.defaults.esp32s3
Due: update-examples_table

bsp(esp32_p4_eye): Example for MIPI-CSI camera.
  README.md
  examples/display_camera_csi/CMakeLists.txt
  examples/display_camera_csi/README.md
  examples/display_camera_csi/main/CMakeLists.txt
  examples/display_camera_csi/main/app_video.c
  examples/display_camera_csi/main/app_video.h
  examples/display_camera_csi/main/idf_component.yml
  examples/display_camera_csi/main/main.c
  examples/display_camera_csi/sdkconfig.bsp.esp32_p4_eye
  examples/display_camera_csi/sdkconfig.defaults
Due: update-supported-boards, update-examples_table

docs: Add benchmark section to README.md
  bsp/esp32_p4_function_ev_board/README.md
Due: bsp-dependencies-readme, update-supported-boards

docs: Remove unnecessary whitespace in README.md
  bsp/esp32_p4_function_ev_board/README.md
Due: bsp-dependencies-readme, update-supported-boards

Update README.md
  bsp/esp32_p4_function_ev_board/README.md
Due: bsp-dependencies-readme, update-supported-boards

ci(release_checker): Script for check changes after last release for all components and BSPs
  .github/ci/release_checker.py
  .github/workflows/build-examples-launchpad.yml
  .github/workflows/deploy_gh_pages.yml
  .github/workflows/release_checker.yml
  README.md
Due: update-supported-boards, update-examples_table

ci(github-pages): Fix versions
  .github/workflows/deploy_gh_pages.yml
Due: none

add new line for format
  bsp/esp32_p4_function_ev_board/README.md
Due: bsp-dependencies-readme, update-supported-boards

docs: Add missing newline at the end of README.md
  bsp/esp32_p4_function_ev_board/README.md
Due: bsp-dependencies-readme, update-supported-boards

fix(idf6): Fixed compatibility i2c
  components/io_expander/esp_io_expander_ht8574/CMakeLists.txt
  components/io_expander/esp_io_expander_ht8574/idf_component.yml
  components/io_expander/esp_io_expander_tca9554/CMakeLists.txt
  components/io_expander/esp_io_expander_tca9554/idf_component.yml
  components/io_expander/esp_io_expander_tca95xx_16bit/CMakeLists.txt
  components/io_expander/esp_io_expander_tca95xx_16bit/idf_component.yml
Due: none

ci(github-pages): Join Launchpad and release checker to one job
  .github/ci/release_checker.py
  .github/workflows/build-examples-launchpad.yml
  .github/workflows/deploy_gh_pages.yml
  .github/workflows/gh-pages.yml
  .github/workflows/release_checker.yml
Due: none

bsp(esp32_p4_eye): Board Support Package for ESP32-P4-EYE (generated)
  .github/workflows/upload_component.yml
  .github/workflows/upload_component_noglib.yml
  .pre-commit-config.yaml
  README.md
  bsp/esp32_p4_eye/API.md
  bsp/esp32_p4_eye/CMakeLists.txt
  bsp/esp32_p4_eye/Kconfig
  bsp/esp32_p4_eye/LICENSE
  bsp/esp32_p4_eye/README.md
  bsp/esp32_p4_eye/doc/esp32_p4_eye.webp
  bsp/esp32_p4_eye/doc/esp32_p4_eye_back_marked.webp
  bsp/esp32_p4_eye/doc/esp32_p4_eye_front_marked.webp
  bsp/esp32_p4_eye/esp32_p4_eye.json
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_eye/include/bsp/config.h
  bsp/esp32_p4_eye/include/bsp/display.h
  bsp/esp32_p4_eye/include/bsp/esp-bsp.h
  bsp/esp32_p4_eye/include/bsp/esp32_p4_eye.h
  bsp/esp32_p4_eye/priv_include/bsp_err_check.h
  bsp/esp32_p4_eye/src/esp32_p4_eye.c
  bsp/esp32_p4_eye/src/led_blink_defaults.c
  bsp/esp_bsp_devkit/include/bsp/esp_bsp_devkit.h
  docu/doxyfiles/esp32_p4_eye
  examples/.build-test-rules.yml
  examples/bsp_ext.py
  examples/display/sdkconfig.bsp.esp32_p4_eye
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_p4_eye
  examples/display_rotation/sdkconfig.bsp.esp32_p4_eye
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix: Add missing PRIV_REQUIRES for esp_driver_gpio in CMakeLists.txt
  examples/audio/main/CMakeLists.txt
Due: update-examples_table

Add configuration option to circumvent internal task creation
  components/esp_lvgl_port/Kconfig
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port.c
Due: none

Removed unneded config dependency
  components/esp_lvgl_port/Kconfig
Due: none

fix(docu): Fix filepaths in the contribution guide
  docu/CONTRIBUTING.md
Due: none

ci(github-pages): Join Launchpad and release checker to one job
  .github/ci/bsp_noglib.py
  .github/ci/release_checker.py
  .github/ci/update_readme_dependencies.py
  .github/workflows/build-examples-launchpad.yml
  .github/workflows/deploy_gh_pages.yml
  .github/workflows/gh-pages.yml
  .github/workflows/release_checker.yml
  .github/workflows/upload_component_noglib.yml
  .pre-commit-config.yaml
  bsp/esp-box-3/README.md
  bsp/esp32_c3_lcdkit/README.md
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_s3_eye/README.md
  bsp/esp32_s3_korvo_1/README.md
  bsp/esp32_s3_korvo_2/README.md
  bsp/esp32_s3_lcd_ev_board/README.md
  bsp/esp_bsp_devkit/README.md
  bsp/esp_bsp_generic/README.md
  bsp/m5_atom_s3/README.md
  bsp/m5dial/README.md
  bsp/m5stack_core/README.md
  bsp/m5stack_core_2/README.md
  bsp/m5stack_core_s3/README.md
  components/esp_lvgl_port/examples/rgb_lcd/sdkconfig.defaults
Due: bsp-dependencies-readme, update-supported-boards

Update idf_component.yml
  components/lcd/esp_lcd_st7796/idf_component.yml
Due: none

Bump component version
  components/lcd/esp_lcd_st7796/idf_component.yml
Due: none

Add support for esp32c3 (tested) (BSP-725) (#656)
  components/lcd/esp_lcd_st7796/idf_component.yml
Due: none

bsp(esp32_p4_eye): Board Support Package for ESP32-P4-EYE (generated)
  .github/workflows/upload_component.yml
  .github/workflows/upload_component_noglib.yml
  .pre-commit-config.yaml
  README.md
  SquareLine/boards/v9/esp32_p4_eye/image.png
  SquareLine/boards/v9/esp32_p4_eye/main/idf_component.yml
  SquareLine/boards/v9/esp32_p4_eye/manifest.json
  SquareLine/boards/v9/esp32_p4_eye/partitions.csv
  SquareLine/boards/v9/esp32_p4_eye/sdkconfig.defaults
  bsp/esp32_p4_eye/API.md
  bsp/esp32_p4_eye/CMakeLists.txt
  bsp/esp32_p4_eye/Kconfig
  bsp/esp32_p4_eye/LICENSE
  bsp/esp32_p4_eye/README.md
  bsp/esp32_p4_eye/doc/esp32_p4_eye.webp
  bsp/esp32_p4_eye/doc/esp32_p4_eye_back_marked.webp
  bsp/esp32_p4_eye/doc/esp32_p4_eye_front_marked.webp
  bsp/esp32_p4_eye/esp32_p4_eye.json
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_eye/include/bsp/config.h
  bsp/esp32_p4_eye/include/bsp/display.h
  bsp/esp32_p4_eye/include/bsp/esp-bsp.h
  bsp/esp32_p4_eye/include/bsp/esp32_p4_eye.h
  bsp/esp32_p4_eye/priv_include/bsp_err_check.h
  bsp/esp32_p4_eye/src/esp32_p4_eye.c
  bsp/esp32_p4_eye/src/led_blink_defaults.c
  bsp/esp_bsp_devkit/include/bsp/esp_bsp_devkit.h
  docu/doxyfiles/esp32_p4_eye
  examples/.build-test-rules.yml
  examples/bsp_ext.py
  examples/display/sdkconfig.bsp.esp32_p4_eye
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_p4_eye
  examples/display_rotation/sdkconfig.bsp.esp32_p4_eye
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

ci(hts221,fbm320,mag3110,mpu6050): Do not test deprecated components
  bsp/esp32_c3_lcdkit/esp32_c3_lcdkit.c
  bsp/esp32_c3_lcdkit/idf_component.yml
  bsp/esp32_p4_function_ev_board/CMakeLists.txt
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/esp32_s3_usb_otg/CMakeLists.txt
  bsp/esp32_s3_usb_otg/idf_component.yml
  components/mpu6050/README.md
  test_apps/.build-test-rules.yml
  test_apps/components/CMakeLists.txt
Due: bsp-dependencies-readme, update-supported-boards

examples(sd-card): Created SD card example
  README.md
  examples/display_sdcard/CMakeLists.txt
  examples/display_sdcard/README.md
  examples/display_sdcard/main/CMakeLists.txt
  examples/display_sdcard/main/display.c
  examples/display_sdcard/main/display.h
  examples/display_sdcard/main/idf_component.yml
  examples/display_sdcard/main/main.c
  examples/display_sdcard/sdkconfig.bsp.esp-box-3
  examples/display_sdcard/sdkconfig.bsp.esp32_s3_korvo_2
  examples/display_sdcard/sdkconfig.defaults.esp32
Due: update-supported-boards, update-examples_table

Refactor build strategy matrix
  .github/workflows/build-run-applications.yml
Due: none

Allow build on master to fail
  .github/workflows/build-run-applications.yml
Due: none

examples(sd-card): Created SD card example
  README.md
  bsp/esp-box-3/README.md
  bsp/esp-box-3/idf_component.yml
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/esp32_s3_korvo_2/README.md
  bsp/esp32_s3_korvo_2/idf_component.yml
  examples/display_sdcard/CMakeLists.txt
  examples/display_sdcard/README.md
  examples/display_sdcard/main/CMakeLists.txt
  examples/display_sdcard/main/example_display.c
  examples/display_sdcard/main/example_display.h
  examples/display_sdcard/main/idf_component.yml
  examples/display_sdcard/main/main.c
  examples/display_sdcard/sdkconfig.bsp.esp-box-3
  examples/display_sdcard/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_sdcard/sdkconfig.bsp.esp32_s3_korvo_2
  examples/display_sdcard/sdkconfig.defaults.esp32
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

feat(esp_bsp_devkit): Add support for ESP32-C3 and ESP32-C6 devkits
  examples/generic_button_led/sdkconfig.esp32_c3_devkit
  examples/generic_button_led/sdkconfig.esp32_c6_devkitc_1
Due: update-examples_table

ci(gh-pages): Fix esp-idf-kconfig (temporary fix)
  .github/workflows/gh-pages.yml
Due: none

feat/csi_camera: Support CSI camera on ESP32-P4-Function-EV-Board
  .github/ci/update_readme_dependencies.py
  .github/ci/update_supported_boards.py
  README.md
  bsp/esp32_p4_eye/README.md
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_eye/include/bsp/esp32_p4_eye.h
  bsp/esp32_p4_function_ev_board/API.md
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_p4_function_ev_board/esp32_p4_function_ev_board.c
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/esp32_p4_function_ev_board/include/bsp/esp32_p4_function_ev_board.h
  examples/.build-test-rules.yml
  examples/display_camera_csi/README.md
  examples/display_camera_csi/main/main.c
  examples/display_camera_csi/sdkconfig.bsp.esp32_p4_function_ev_board
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

ci(build): Update idf-build-apps to 2.10.1
  .github/workflows/build-run-applications.yml
  .github/workflows/gh-pages.yml
  .ignore_build_warnings.txt
  examples/display/sdkconfig.bsp.esp32_p4_eye
  examples/display_camera_csi/sdkconfig.bsp.esp32_p4_eye
  examples/display_camera_csi/sdkconfig.defaults
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_p4_eye
  examples/display_rotation/sdkconfig.bsp.esp32_p4_eye
Due: update-examples_table

ci(build): Not fail CI, when used IDF from master + cleaning
  .github/workflows/build-run-applications.yml
  components/esp_lvgl_port/examples/rgb_lcd/main/main.c
  components/esp_lvgl_port/examples/rgb_lcd/sdkconfig.defaults
  components/esp_lvgl_port/examples/touchscreen/sdkconfig.defaults
  components/esp_lvgl_port/test_apps/lvgl_port/sdkconfig.defaults
  components/io_expander/esp_io_expander_ht8574/test_apps/sdkconfig.defaults
  components/io_expander/esp_io_expander_tca9554/test_apps/sdkconfig.defaults
  components/io_expander/esp_io_expander_tca95xx_16bit/test_apps/sdkconfig.defaults
  components/qma6100p/test_apps/sdkconfig.defaults
Due: none

fix(mpu6050): add missing esp_driver_gpio to REQUIRES
  components/mpu6050/CMakeLists.txt
Due: none

feat(esp_bsp_devkit): Add support for ESP32-C3 and ESP32-C6 devkits
  examples/generic_button_led/sdkconfig.esp32_c3_devkitm_1
  examples/generic_button_led/sdkconfig.esp32_c6_devkitc_1
Due: update-examples_table

Path conditions:
  bsp-dependencies-readme: any of: bsp/.*/include/bsp/.*\.h|bsp/.*/idf_component\.yml|bsp/.*/README\.md
  update-supported-boards: any of: ^README\.md$|^bsp/
  update-examples_table: any of: ^README\.md$|^examples/
