Repository espressif/esp-bsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bsp-dependencies-readme, update-supported-boards, update-examples_table

bsp-dependencies-readme:
  name: Update BSP README with dependencies section
  entry: .github/ci/update_readme_dependencies.py
  language: python
  additional_dependencies:
  - idf_component_manager==2.4.1
  - py-markdown-table

update-supported-boards:
  name: Update Supported Boards Table
  entry: .github/ci/update_supported_boards.py
  language: python
  additional_dependencies:
  - PyYAML
  - idf_component_manager==2.4.1

update-examples_table:
  name: Update Examples Table
  entry: .github/ci/update_examples_table.py
  language: python

feat(ci): Only add a comment when the PR author has permissions
  .github/workflows/build-run-applications.yml
Due: none

feat(io_expander): add GPIO API wrapper for ESP IO Expander
  components/io_expander/esp_io_expander/CMakeLists.txt
  components/io_expander/esp_io_expander/Kconfig
  components/io_expander/esp_io_expander/README.md
  components/io_expander/esp_io_expander/esp_io_expander_gpio_wrapper.c
  components/io_expander/esp_io_expander/idf_component.yml
  components/io_expander/esp_io_expander/include/esp_io_expander_gpio_wrapper.h
Due: none

Fix pre-commit
  components/io_expander/esp_io_expander/esp_io_expander_gpio_wrapper.c
Due: none

fix(io_expander): Fix typo in the word direction
  components/io_expander/esp_io_expander/include/esp_io_expander.h
  components/io_expander/esp_io_expander_ht8574/README.md
  components/io_expander/esp_io_expander_tca9554/README.md
  components/io_expander/esp_io_expander_tca95xx_16bit/README.md
Due: none

(m5stack_tab): changed ili9881c and gt911 drivers to st7123
  bsp/m5stack_tab5/Kconfig
  bsp/m5stack_tab5/idf_component.yml
  bsp/m5stack_tab5/include/bsp/display.h
  bsp/m5stack_tab5/m5stack_tab5.json
  bsp/m5stack_tab5/priv_include/disp_init_data.h
  bsp/m5stack_tab5/src/m5stack_tab5.c
Due: bsp-dependencies-readme, update-supported-boards

WIP
  components/esp_lvgl_port/Kconfig
Due: none

feat(io_expander): Update versions, documentations and example for using IO Expanders with GPIO API
  components/io_expander/esp_io_expander_ht8574/idf_component.yml
  components/io_expander/esp_io_expander_pi4ioe5v6408/README.md
  components/io_expander/esp_io_expander_pi4ioe5v6408/idf_component.yml
  components/io_expander/esp_io_expander_tca9554/README.md
  components/io_expander/esp_io_expander_tca9554/examples/gpio/CMakeLists.txt
  components/io_expander/esp_io_expander_tca9554/examples/gpio/README.md
  components/io_expander/esp_io_expander_tca9554/examples/gpio/main/CMakeLists.txt
  components/io_expander/esp_io_expander_tca9554/examples/gpio/main/gpio_example_main.c
  components/io_expander/esp_io_expander_tca9554/examples/gpio/main/idf_component.yml
  components/io_expander/esp_io_expander_tca9554/examples/gpio/sdkconfig.defaults
  components/io_expander/esp_io_expander_tca9554/idf_component.yml
  components/io_expander/esp_io_expander_tca95xx_16bit/README.md
  components/io_expander/esp_io_expander_tca95xx_16bit/idf_component.yml
Due: none

WIP
  bsp/esp-box-3/Kconfig
  bsp/esp-box-3/esp-box-3.c
  bsp/esp-box-3/include/bsp/esp-box-3.h
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port.c
Due: bsp-dependencies-readme, update-supported-boards

fix(ci): Temporary disabled IDF 6 CI - due to esp32-camera component
  .github/workflows/build-run-applications.yml
Due: none

refactor(example): Start using esp_new_jpeg
  examples/display_audio_photo/main/app_disp_fs.c
  examples/display_audio_photo/main/idf_component.yml
Due: update-examples_table

feat(lcd): ST7796 Add Sleep command support
  components/lcd/esp_lcd_st7796/esp_lcd_st7796_general.c
  components/lcd/esp_lcd_st7796/esp_lcd_st7796_mipi.c
Due: none

fix(LVGL Port): Fixed PPA rotation for IDF6.
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/idf_component.yml
  components/esp_lvgl_port/src/common/ppa/lcd_ppa.c
  components/esp_lvgl_port/src/common/ppa/lcd_ppa.h
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

fix(esp32_p4_function_ev_board): Fixed default display rotation
  bsp/esp32_p4_function_ev_board/esp32_p4_function_ev_board.c
  bsp/esp32_p4_function_ev_board/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

fix(bsp_selector): Make all BSPs public.
  components/bsp_selector/idf_component.yml
Due: none

WIP
  .github/ci/dependency_graph.py
Due: none

Goal
  bsp/esp-box-3/README.md
Due: bsp-dependencies-readme, update-supported-boards

fix(esp32_p4_eye): Set default chip revision to < 3
  examples/display/sdkconfig.bsp.esp32_p4_eye
  examples/display_camera_csi/sdkconfig.bsp.esp32_p4_eye
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_p4_eye
  examples/display_rotation/sdkconfig.bsp.esp32_p4_eye
Due: update-examples_table

fix(ci): Install CI tools using ESP-IDF install script
  .github/workflows/build-run-applications.yml
Due: none

feat(sensors): Add AHT30 sensor driver
  .github/workflows/upload_component.yml
  components/.build-test-rules.yml
  components/sensors/aht30/CMakeLists.txt
  components/sensors/aht30/README.md
  components/sensors/aht30/aht30.c
  components/sensors/aht30/idf_component.yml
  components/sensors/aht30/include/aht30.h
  components/sensors/aht30/license.txt
Due: none

feat(sensors): Move ICM42670 to the sensors folder and add sensor hub functionality
  .github/workflows/upload_component.yml
  bsp/esp-box-3/idf_component.yml
  bsp/esp-box/idf_component.yml
  components/.build-test-rules.yml
  components/icm42670/idf_component.yml
  components/sensors/icm42670/CMakeLists.txt
  components/sensors/icm42670/README.md
  components/sensors/icm42670/icm42670.c
  components/sensors/icm42670/idf_component.yml
  components/sensors/icm42670/include/icm42670.h
  components/sensors/icm42670/license.txt
  components/sensors/icm42670/test_apps/CMakeLists.txt
  components/sensors/icm42670/test_apps/main/CMakeLists.txt
  components/sensors/icm42670/test_apps/main/idf_component.yml
  components/sensors/icm42670/test_apps/main/test_app_icm42670.c
  components/sensors/icm42670/test_apps/sdkconfig.defaults
Due: bsp-dependencies-readme, update-supported-boards

feat(sensors): Add sensor hub API to the ESP-BOX-3 and create an usage example
  .github/ci/update_readme_dependencies.py
  .github/ci/update_supported_boards.py
  README.md
  bsp/esp-box-3/API.md
  bsp/esp-box-3/README.md
  bsp/esp-box-3/esp-box-3.c
  bsp/esp-box-3/idf_component.yml
  bsp/esp-box-3/include/bsp/esp-box-3.h
  docu/doxyfiles/templates/how_to_use/g10_sensors.md
  examples/sensors/CMakeLists.txt
  examples/sensors/README.md
  examples/sensors/main/CMakeLists.txt
  examples/sensors/main/idf_component.yml
  examples/sensors/main/main.c
  examples/sensors/sdkconfig.bsp.esp-box-3
  examples/sensors/sdkconfig.defaults.esp32
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix(bsp): Refactor ESP-BOX-3 idf_component.yml using idf.py
  bsp/esp-box-3/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

bsp(esp32_c3_lcdkit): Regenerated by BSP Generator
  bsp/esp32_c3_lcdkit/API.md
  bsp/esp32_c3_lcdkit/CMakeLists.txt
  bsp/esp32_c3_lcdkit/Kconfig
  bsp/esp32_c3_lcdkit/LICENSE
  bsp/esp32_c3_lcdkit/README.md
  bsp/esp32_c3_lcdkit/esp32_c3_lcdkit.c
  bsp/esp32_c3_lcdkit/esp32_c3_lcdkit.json
  bsp/esp32_c3_lcdkit/idf_component.yml
  bsp/esp32_c3_lcdkit/include/bsp/config.h
  bsp/esp32_c3_lcdkit/include/bsp/display.h
  bsp/esp32_c3_lcdkit/include/bsp/esp-bsp.h
  bsp/esp32_c3_lcdkit/include/bsp/esp32_c3_lcdkit.h
  bsp/esp32_c3_lcdkit/priv_include/bsp_err_check.h
  bsp/esp32_c3_lcdkit/src/esp32_c3_lcdkit.c
  bsp/esp32_c3_lcdkit/src/led_blink_defaults.c
Due: bsp-dependencies-readme, update-supported-boards

fix(ci): Fix build fails related to LVGL 9.5 bump and ESP32-P4 chip version 3.1v
  README.md
  bsp/esp32_p4_eye/README.md
  examples/display_lvgl_demos/partitions.csv
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_p4_eye
  examples/display_lvgl_demos/sdkconfig.bsp.m5stack_tab5
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix(lvgl_port): Add encoder event type and read only input devices matching an event
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/idf_component.yml
  components/esp_lvgl_port/include/esp_lvgl_port.h
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_button.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_knob.c
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_lvgl_demos/sdkconfig.bsp.m5stack_tab5
Due: update-examples_table

bsp(EchoEar): Created new BSP for EchoEar
  .github/workflows/upload_component.yml
  .github/workflows/upload_component_noglib.yml
  .pre-commit-config.yaml
  README.md
  SquareLine/boards/v9/echoear/image.png
  SquareLine/boards/v9/echoear/main/idf_component.yml
  SquareLine/boards/v9/echoear/manifest.json
  SquareLine/boards/v9/echoear/sdkconfig.defaults
  bsp/echoear/API.md
  bsp/echoear/CMakeLists.txt
  bsp/echoear/Kconfig
  bsp/echoear/LICENSE
  bsp/echoear/README.md
  bsp/echoear/doc/echoear-baseboard-front.png
  bsp/echoear/doc/echoear-black-front.png
  bsp/echoear/doc/echoear-coreboard-front.png
  bsp/echoear/doc/echoear-micboard-front.png
  bsp/echoear/doc/echoear.webp
  bsp/echoear/echoear.json
  bsp/echoear/idf_component.yml
  bsp/echoear/include/bsp/config.h
  bsp/echoear/include/bsp/display.h
  bsp/echoear/include/bsp/echoear.h
  bsp/echoear/include/bsp/esp-bsp.h
  bsp/echoear/include/bsp/touch.h
  bsp/echoear/priv_include/bsp_err_check.h
  bsp/echoear/priv_include/disp_init_data.h
  bsp/echoear/src/echoear.c
  bsp/echoear/src/led_blink_defaults.c
  components/bsp_selector/Kconfig
  components/bsp_selector/idf_component.yml
  docu/doxyfiles/echoear
  examples/.build-test-rules.yml
  examples/display/sdkconfig.bsp.echoear
  examples/display_audio_photo/sdkconfig.bsp.echoear
  examples/display_lvgl_demos/sdkconfig.bsp.echoear
  examples/display_rotation/sdkconfig.bsp.echoear
  examples/display_sdcard/sdkconfig.bsp.echoear
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

CI(SquareLine): Updated SquareLine generator with shape of display
  SquareLine/boards/v8/custom_waveshare_7inch/manifest.json
  SquareLine/boards/v8/esp32_c3_lcdkit/manifest.json
  SquareLine/boards/v8/esp32_s2_kaluga_kit/manifest.json
  SquareLine/boards/v8/esp32_s3_eye/manifest.json
  SquareLine/boards/v8/esp32_s3_korvo_2/manifest.json
  SquareLine/boards/v8/esp32_s3_lcd_ev_board/manifest.json
  SquareLine/boards/v8/esp32_s3_usb_otg/manifest.json
  SquareLine/boards/v8/espbox/manifest.json
  SquareLine/boards/v8/espbox_3/manifest.json
  SquareLine/boards/v8/espbox_lite/manifest.json
  SquareLine/boards/v8/espwroverkit/manifest.json
  SquareLine/boards/v8/m5stack_core_s3/manifest.json
  SquareLine/boards/v9/echoear/manifest.json
  SquareLine/boards/v9/esp32_c3_lcdkit/manifest.json
  SquareLine/boards/v9/esp32_p4_eye/manifest.json
  SquareLine/boards/v9/esp32_s2_kaluga_kit/manifest.json
  SquareLine/boards/v9/esp32_s3_eye/manifest.json
  SquareLine/boards/v9/esp32_s3_korvo_2/manifest.json
  SquareLine/boards/v9/esp32_s3_lcd_ev_board/manifest.json
  SquareLine/boards/v9/esp32_s3_usb_otg/manifest.json
  SquareLine/boards/v9/espbox/manifest.json
  SquareLine/boards/v9/espbox_3/manifest.json
  SquareLine/boards/v9/espbox_lite/manifest.json
  SquareLine/boards/v9/espwroverkit/manifest.json
  SquareLine/boards/v9/m5_atom_s3/manifest.json
  SquareLine/boards/v9/m5dial/manifest.json
  SquareLine/boards/v9/m5stack_core_2/manifest.json
  SquareLine/boards/v9/m5stack_core_s3/manifest.json
  SquareLine/boards/v9/m5stack_tab5/manifest.json
  SquareLine/gen.py
Due: none

PROPOSAL: Divided source files in BSP
  .github/ci/update_readme_dependencies.py
  .github/ci/update_supported_boards.py
  bsp/echoear/CMakeLists.txt
  bsp/echoear/Kconfig
  bsp/echoear/echoear.json
  bsp/echoear/src/bsp_audio.c
  bsp/echoear/src/bsp_button.c
  bsp/echoear/src/bsp_display.c
  bsp/echoear/src/bsp_feature_en.c
  bsp/echoear/src/bsp_i2c.c
  bsp/echoear/src/bsp_led.c
  bsp/echoear/src/bsp_storage.c
  bsp/echoear/src/echoear.c
Due: update-supported-boards

fix(esp_video): Updated esp_video to v2.0 for fix IDF6 breaking changes
  SquareLine/boards/v9/esp32_p4_eye/sdkconfig.defaults
  SquareLine/boards/v9/m5stack_tab5/sdkconfig.defaults
  bsp/esp32_p4_eye/idf_component.yml
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/m5stack_tab5/idf_component.yml
  examples/display/sdkconfig.bsp.esp32_p4_eye
  examples/display/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display/sdkconfig.bsp.m5stack_tab5
  examples/display_audio_photo/sdkconfig.bsp.m5stack_tab5
  examples/display_camera_csi/sdkconfig.bsp.esp32_p4_eye
  examples/display_camera_csi/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_camera_csi/sdkconfig.bsp.m5stack_tab5
  examples/display_camera_csi/sdkconfig.defaults
  examples/display_lvgl_benchmark/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_lvgl_benchmark/sdkconfig.defaults.esp32p4
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_lvgl_demos/sdkconfig.bsp.m5stack_tab5
  examples/display_rotation/sdkconfig.bsp.esp32_p4_eye
  examples/display_rotation/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_rotation/sdkconfig.bsp.m5stack_tab5
  examples/display_sdcard/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_sdcard/sdkconfig.bsp.m5stack_tab5
  examples/display_usb_hid/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_usb_hid/sdkconfig.bsp.m5stack_tab5
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

feat(hdmi): Updated HDMI timing for LT8912B in ESP32P4 EV Function board
  bsp/esp32_p4_function_ev_board/Kconfig
  bsp/esp32_p4_function_ev_board/esp32_p4_function_ev_board.c
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/esp32_p4_function_ev_board/include/bsp/display.h
  components/lcd/esp_lcd_lt8912b/idf_component.yml
  components/lcd/esp_lcd_lt8912b/include/esp_lcd_lt8912b.h
Due: bsp-dependencies-readme, update-supported-boards

Add dev containers for different IDF versions
  .devcontainer/Dockerfile
  .devcontainer/idf_latest/devcontainer.json
  .devcontainer/idf_v5/devcontainer.json
  .devcontainer/idf_v6/devcontainer.json
  .gitignore
Due: none

format and rebase
  components/sensors/icm42670/icm42670.c
Due: none

feat(icm42670): add support for spi interface in icm42670
  components/sensors/icm42670/CMakeLists.txt
  components/sensors/icm42670/README.md
  components/sensors/icm42670/icm42670.c
  components/sensors/icm42670/idf_component.yml
  components/sensors/icm42670/include/icm42670.h
Due: none

fix(icm42670): restore backward compatible public api
  components/sensors/icm42670/icm42670.c
  components/sensors/icm42670/include/icm42670.h
Due: none

feat(icm42670): format code
  components/sensors/icm42670/include/icm42670.h
Due: none

Path conditions:
  bsp-dependencies-readme: any of: bsp/.*/include/bsp/.*\.h|bsp/.*/idf_component\.yml|bsp/.*/README\.md
  update-supported-boards: any of: ^README\.md$|^bsp/
  update-examples_table: any of: ^README\.md$|^examples/
