Repository espressif/esp-bsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bsp-dependencies-readme, update-supported-boards, update-examples_table

Path conditions:
  bsp-dependencies-readme: any of: ^bsp/.*/(idf_component\.yml|README\.md|include/bsp/.*\.h)$
  update-supported-boards: any of: ^README\.md$|^bsp/
  update-examples_table: any of: ^README\.md$|^examples/

fix(esp_lvgl_port): support CONFIG_LCD_RGB_ISR_IRAM_SAFE for RGB panels
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

fix: address review feedback for IRAM-safe callback
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

Add MPU-6886 support for M5Stack Core 2
  bsp/m5stack_core_2/API.md
  bsp/m5stack_core_2/README.md
  bsp/m5stack_core_2/idf_component.yml
  bsp/m5stack_core_2/include/bsp/m5stack_core_2.h
  components/mpu6886/CMakeLists.txt
  components/mpu6886/README.md
  components/mpu6886/idf_component.yml
  components/mpu6886/include/mpu6886.h
  components/mpu6886/license.txt
  components/mpu6886/mpu6886.c
  examples/display_rotation/main/main.c
  examples/display_rotation/sdkconfig.bsp.m5stack_core_2
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

Bump version
  bsp/m5stack_core_2/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

Auto-generate updated docs and readme
  README.md
  bsp/esp-box-3/API.md
  bsp/esp-box-lite/API.md
  bsp/esp-box/API.md
  bsp/esp32_azure_iot_kit/API.md
  bsp/esp32_c3_lcdkit/API.md
  bsp/esp32_lyrat/API.md
  bsp/esp32_p4_eye/API.md
  bsp/esp32_p4_function_ev_board/API.md
  bsp/esp32_s2_kaluga_kit/API.md
  bsp/esp32_s3_eye/API.md
  bsp/esp32_s3_korvo_1/API.md
  bsp/esp32_s3_korvo_2/API.md
  bsp/esp32_s3_lcd_ev_board/API.md
  bsp/esp32_s3_usb_otg/API.md
  bsp/esp_wrover_kit/API.md
  bsp/m5_atom_s3/API.md
  bsp/m5dial/API.md
  bsp/m5stack_core/API.md
  bsp/m5stack_core_2/API.md
  bsp/m5stack_core_2/README.md
  bsp/m5stack_core_s3/API.md
  bsp/m5stack_tab5/API.md
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

Fix incorrect radian to degrees, clear set config bit, widen FIFO length, add null check
  components/mpu6886/README.md
  components/mpu6886/include/mpu6886.h
  components/mpu6886/mpu6886.c
Due: none

Fix typo
  components/mpu6050/include/mpu6050.h
  components/mpu6050/mpu6050.c
  components/mpu6886/README.md
  components/mpu6886/include/mpu6886.h
  components/mpu6886/mpu6886.c
  components/sensors/icm42670/icm42670.c
  components/sensors/icm42670/include/icm42670.h
  examples/display_rotation/main/main.c
  examples/display_sensors/main/main.c
Due: update-examples_table

Add Containerfile
  Containerfile
Due: none

feat(example): Automatic detection RGB565 endianess in display_camera_video example
  examples/display_camera_video/main/app_video.c
  examples/display_camera_video/main/app_video.h
  examples/display_camera_video/main/main.c
Due: update-examples_table

bsp(esp32_s3_korvo_2): Regenerated by BSP Generator
  README.md
  bsp/esp32_s3_korvo_2/API.md
  bsp/esp32_s3_korvo_2/CHANGELOG.md
  bsp/esp32_s3_korvo_2/CMakeLists.txt
  bsp/esp32_s3_korvo_2/Kconfig
  bsp/esp32_s3_korvo_2/LICENSE
  bsp/esp32_s3_korvo_2/README.md
  bsp/esp32_s3_korvo_2/esp32_s3_korvo_2.c
  bsp/esp32_s3_korvo_2/esp32_s3_korvo_2.json
  bsp/esp32_s3_korvo_2/esp32_s3_korvo_2_idf5.c
  bsp/esp32_s3_korvo_2/idf_component.yml
  bsp/esp32_s3_korvo_2/include/bsp/display.h
  bsp/esp32_s3_korvo_2/include/bsp/esp32_s3_korvo_2.h
  bsp/esp32_s3_korvo_2/src/bsp_adc.c
  bsp/esp32_s3_korvo_2/src/bsp_audio.c
  bsp/esp32_s3_korvo_2/src/bsp_battery.c
  bsp/esp32_s3_korvo_2/src/bsp_button.c
  bsp/esp32_s3_korvo_2/src/bsp_camera.c
  bsp/esp32_s3_korvo_2/src/bsp_display.c
  bsp/esp32_s3_korvo_2/src/bsp_feature_en.c
  bsp/esp32_s3_korvo_2/src/bsp_i2c.c
  bsp/esp32_s3_korvo_2/src/bsp_io_expander.c
  bsp/esp32_s3_korvo_2/src/bsp_led.c
  bsp/esp32_s3_korvo_2/src/bsp_storage.c
  bsp/esp32_s3_korvo_2/src/led_blink_defaults.c
  examples/audio/sdkconfig.bsp.esp32_s3_korvo_2
  examples/display/sdkconfig.bsp.esp32_s3_korvo_2
  examples/display_audio_photo/sdkconfig.bsp.esp32_s3_korvo_2
  examples/display_camera_video/sdkconfig.bsp.esp32_s3_korvo_2
  examples/display_lvgl_benchmark/sdkconfig.bsp.esp32_s3_korvo_2
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_s3_korvo_2
  examples/display_rotation/sdkconfig.bsp.esp32_s3_korvo_2
  examples/display_sdcard/sdkconfig.bsp.esp32_s3_korvo_2
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

feat(ds18b20): Add one_wire UART backend
  components/.build-test-rules.yml
  components/ds18b20/CHANGELOG.md
  components/ds18b20/examples/ds18b20_read/README.md
  components/ds18b20/examples/ds18b20_read/main/Kconfig.projbuild
  components/ds18b20/examples/ds18b20_read/main/ds18b20_example_main.c
  components/ds18b20/examples/ds18b20_read/sdkconfig.bsp.rmt
  components/ds18b20/examples/ds18b20_read/sdkconfig.bsp.uart
  components/ds18b20/idf_component.yml
Due: none

fix(ds18b20): Add CHANGELOG for v0.3.0
  components/ds18b20/CHANGELOG.md
Due: none

fix(esp_lvgl_port): replace malloc with heap_caps_malloc for pre-commit compliance
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

Chown the python environment
  Containerfile
Due: none

feat(io_expander): New IO Expander AW9523
  .github/workflows/upload_component.yml
  .ignore_build_warnings.txt
  components/io_expander/esp_io_expander_aw9523/CMakeLists.txt
  components/io_expander/esp_io_expander_aw9523/README.md
  components/io_expander/esp_io_expander_aw9523/esp_io_expander_aw9523.c
  components/io_expander/esp_io_expander_aw9523/idf_component.yml
  components/io_expander/esp_io_expander_aw9523/include/esp_io_expander_aw9523.h
  components/io_expander/esp_io_expander_aw9523/license.txt
  components/io_expander/esp_io_expander_aw9523/test_apps/CMakeLists.txt
  components/io_expander/esp_io_expander_aw9523/test_apps/main/CMakeLists.txt
  components/io_expander/esp_io_expander_aw9523/test_apps/main/idf_component.yml
  components/io_expander/esp_io_expander_aw9523/test_apps/main/test_app_aw9523.c
  components/io_expander/esp_io_expander_aw9523/test_apps/sdkconfig.defaults
Due: none

feat(wrover_kit): Add noglib menuconfig option
  bsp/esp_wrover_kit/Kconfig
  bsp/esp_wrover_kit/idf_component.yml
  bsp/esp_wrover_kit/include/bsp/config.h
Due: bsp-dependencies-readme, update-supported-boards

fix: modify esp32c5 devkit max gpio
  bsp/esp_bsp_devkit/Kconfig
  bsp/esp_bsp_devkit/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

fix: modify esp32c5 devkit max gpio (#759)
  bsp/esp_bsp_devkit/Kconfig
  bsp/esp_bsp_devkit/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

fix(esp_lvgl_port): remove IRAM_ATTR from forward declaration
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

fix(ci): Disable idf plugin in pytest
  pytest.ini
Due: none

fix(components): Add missing LVGL port path to ESP32S3_EYE
  bsp/esp32_s3_eye/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

Prepare components deprecation
  components/bh1750/idf_component.yml
  components/es7210/idf_component.yml
  components/es8311/idf_component.yml
  components/fbm320/idf_component.yml
  components/hts221/idf_component.yml
  components/mag3110/idf_component.yml
  components/mpu6050/idf_component.yml
Due: none

Prepare BSP deprecation
  .pre-commit-config.yaml
  bsp/esp-box-lite/README.md
  bsp/esp-box-lite/idf_component.yml
  bsp/esp-box/README.md
  bsp/esp-box/idf_component.yml
  bsp/esp32_azure_iot_kit/idf_component.yml
  bsp/esp32_s2_kaluga_kit/README.md
  bsp/esp32_s2_kaluga_kit/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

fix(ci): Update versions of deprecating github actions
  .github/workflows/build-run-applications.yml
  .github/workflows/doxygen.yml
  .github/workflows/gh-pages.yml
  .github/workflows/pre-commit.yml
  .github/workflows/squareline.yml
  .github/workflows/upload_component.yml
  .github/workflows/upload_component_noglib.yml
Due: none

fix(examples): Fix stack overflow in LVGL benchmark
  examples/display_lvgl_benchmark/main/main.c
Due: update-examples_table

feat(hdmi): Updated HDMI timing for LT8912B in ESP32P4 EV Function board
  bsp/esp32_p4_function_ev_board/Kconfig
  bsp/esp32_p4_function_ev_board/README.md
  bsp/esp32_p4_function_ev_board/esp32_p4_function_ev_board.c
  bsp/esp32_p4_function_ev_board/idf_component.yml
  bsp/esp32_p4_function_ev_board/include/bsp/display.h
  components/lcd/esp_lcd_lt8912b/idf_component.yml
  components/lcd/esp_lcd_lt8912b/include/esp_lcd_lt8912b.h
  examples/display_usb_hid/main/main.c
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix(bmi270): Fixed initialization delay
  components/sensors/bmi270/idf_component.yml
  components/sensors/bmi270/include_priv/bmi270_priv.h
Due: none

bsp(m5stack_core_s3): Regenerated by BSP Generator
  .github/workflows/build-run-applications.yml
  README.md
  bsp/esp32_s2_kaluga_kit/README.md
  bsp/esp32_s2_kaluga_kit/idf_component.yml
  bsp/m5stack_core_s3/API.md
  bsp/m5stack_core_s3/CMakeLists.txt
  bsp/m5stack_core_s3/Kconfig
  bsp/m5stack_core_s3/README.md
  bsp/m5stack_core_s3/idf_component.yml
  bsp/m5stack_core_s3/include/bsp/display.h
  bsp/m5stack_core_s3/include/bsp/m5stack_core_s3.h
  bsp/m5stack_core_s3/m5stack_core_s3.c
  bsp/m5stack_core_s3/m5stack_core_s3.json
  bsp/m5stack_core_s3/m5stack_core_s3_idf5.c
  bsp/m5stack_core_s3/src/bsp_audio.c
  bsp/m5stack_core_s3/src/bsp_camera.c
  bsp/m5stack_core_s3/src/bsp_display.c
  bsp/m5stack_core_s3/src/bsp_feature_en.c
  bsp/m5stack_core_s3/src/bsp_i2c.c
  bsp/m5stack_core_s3/src/bsp_io_expander.c
  bsp/m5stack_core_s3/src/bsp_sensors.c
  bsp/m5stack_core_s3/src/bsp_spi.c
  bsp/m5stack_core_s3/src/bsp_storage.c
  bsp/m5stack_core_s3/src/bsp_usb.c
  examples/display_camera/CMakeLists.txt
  examples/display_camera/README.md
  examples/display_camera/main/CMakeLists.txt
  examples/display_camera/main/idf_component.yml
  examples/display_camera/main/main.c
  examples/display_camera/sdkconfig.bsp.esp32_s2_kaluga_kit
  examples/display_camera_video/README.md
  examples/display_camera_video/pytest_camera_video.py
  examples/display_camera_video/sdkconfig.bsp.m5stack_core_s3
  examples/display_lvgl_benchmark/main/main.c
  examples/display_sdcard/sdkconfig.bsp.m5stack_core_s3
  examples/display_sensors/sdkconfig.bsp.m5stack_core_s3
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix(example): Fixed warnings in sensor example when not used temperature.
  examples/display_sensors/main/main.c
Due: update-examples_table

Remove dependency to LVGL on noglib build.
  bsp/m5stack_tab5/src/m5stack_tab5.c
Due: update-supported-boards

bsp(M5Stack Tab5): Update LCD and touch for new board version + added BMI270 sensor support
  .pre-commit-config.yaml
  README.md
  bsp/m5stack_tab5/API.md
  bsp/m5stack_tab5/CMakeLists.txt
  bsp/m5stack_tab5/Kconfig
  bsp/m5stack_tab5/README.md
  bsp/m5stack_tab5/idf_component.yml
  bsp/m5stack_tab5/include/bsp/display.h
  bsp/m5stack_tab5/include/bsp/m5stack_tab5.h
  bsp/m5stack_tab5/m5stack_tab5.json
  bsp/m5stack_tab5/priv_include/disp_init_data.h
  bsp/m5stack_tab5/priv_include/disp_init_data_1.h
  bsp/m5stack_tab5/src/bsp_audio.c
  bsp/m5stack_tab5/src/bsp_camera.c
  bsp/m5stack_tab5/src/bsp_display.c
  bsp/m5stack_tab5/src/bsp_feature_en.c
  bsp/m5stack_tab5/src/bsp_i2c.c
  bsp/m5stack_tab5/src/bsp_io_expander.c
  bsp/m5stack_tab5/src/bsp_sensors.c
  bsp/m5stack_tab5/src/bsp_storage.c
  bsp/m5stack_tab5/src/bsp_usb.c
  bsp/m5stack_tab5/src/m5stack_tab5.c
  examples/display_sensors/sdkconfig.bsp.m5stack_tab5
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

let LV_COLOR_FORMAT_RGB565_SWAPPED be a valid color format
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

added a reset callback (reset_cb) to esp_lcd_touch_config_t so that chips can implement a non primary GPIO reset mechanism.
  components/lcd_touch/esp_lcd_touch/include/esp_lcd_touch.h
  components/lcd_touch/esp_lcd_touch_cst816s/esp_lcd_touch_cst816s.c
Due: none

fix(M5Stack Tab5): Fixed name and added tag
  README.md
  bsp/m5stack_tab5/Kconfig
  bsp/m5stack_tab5/README.md
  bsp/m5stack_tab5/idf_component.yml
  bsp/m5stack_tab5/include/bsp/m5stack_tab5.h
  bsp/m5stack_tab5/m5stack_tab5.json
  bsp/m5stack_tab5/src/bsp_audio.c
  bsp/m5stack_tab5/src/bsp_display.c
  bsp/m5stack_tab5/src/bsp_sensors.c
  bsp/m5stack_tab5/src/bsp_storage.c
  bsp/m5stack_tab5/src/bsp_usb.c
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix(ci): Remove unused component test
  test_apps/.build-test-rules.yml
  test_apps/components/CMakeLists.txt
  test_apps/components/main/CMakeLists.txt
  test_apps/components/main/test_app_main.c
  test_apps/components/sdkconfig.defaults
Due: none

(ci): Remove unused Jira sync
  .github/workflows/jira_sync.yml
Due: none

feat(ci): Automatically upload all components\
  .github/workflows/upload_component.yml
Due: none
