Repository espressif/esp-bsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bsp-dependencies-readme, update-supported-boards, update-examples_table

bsp-dependencies-readme:
  name: Update BSP README with dependencies section
  entry: .github/ci/update_readme_dependencies.py
  language: python
  additional_dependencies:
  - idf_component_manager==2.4.1
  - py-markdown-table

update-supported-boards:
  name: Update Supported Boards Table
  entry: .github/ci/update_supported_boards.py
  language: python
  additional_dependencies:
  - PyYAML
  - idf_component_manager==2.4.1

update-examples_table:
  name: Update Examples Table
  entry: .github/ci/update_examples_table.py
  language: python

feat(bsp_graphics_lvgl): Created new component for BSP graphics (LVGL) and removed LVGL from BSP
  .github/ci/bsp_noglib.py
  .github/ci/update_readme_dependencies.py
  bsp/m5stack_tab5/API.md
  bsp/m5stack_tab5/CMakeLists.txt
  bsp/m5stack_tab5/README.md
  bsp/m5stack_tab5/idf_component.yml
  bsp/m5stack_tab5/include/bsp/display.h
  bsp/m5stack_tab5/include/bsp/m5stack_tab5.h
  bsp/m5stack_tab5/src/bsp_display.c
  components/bsp_graphics/README.md
  components/bsp_graphics/bsp_graphics_lvgl/CMakeLists.txt
  components/bsp_graphics/bsp_graphics_lvgl/README.md
  components/bsp_graphics/bsp_graphics_lvgl/idf_component.yml
  components/bsp_graphics/bsp_graphics_lvgl/include/esp_bsp_graphics.h
  components/bsp_graphics/bsp_graphics_lvgl/license.txt
  components/bsp_graphics/bsp_graphics_lvgl/priv_include/bsp_err_check.h
  components/bsp_graphics/bsp_graphics_lvgl/src/bsp_graphics_lvgl.c
  components/bsp_selector/Kconfig
  components/bsp_selector/idf_component.yml
  examples/bsp_ext.py
  examples/display/main/main.c
  examples/display_audio_photo/main/app_disp_fs.c
  examples/display_audio_photo/main/main.c
  examples/display_camera_video/main/main.c
  examples/display_lvgl_benchmark/main/main.c
  examples/display_lvgl_demos/main/main.c
  examples/display_rotation/main/main.c
  examples/display_sdcard/main/example_display.c
  examples/display_sdcard/main/main.c
  examples/display_sensors/main/main.c
  examples/display_usb_hid/main/main.c
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

feat(esp_bsp_devkit): Added support for ESP32C5, ESP32C61, ESP32H21, ESP32H4 and ESP32S31 into bsp_devkit and bsp_generic
  bsp/esp_bsp_devkit/Kconfig
  bsp/esp_bsp_devkit/idf_component.yml
  bsp/esp_bsp_generic/Kconfig
  bsp/esp_bsp_generic/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

Add autosuggestions
  Containerfile
Due: none

feat(sensors): Add component tags for each sensor
  components/ds18b20/idf_component.yml
  components/sensors/aht30/idf_component.yml
  components/sensors/bmi270/idf_component.yml
  components/sensors/icm42670/idf_component.yml
Due: none

ci(BSP Wall): Add ESP VoCat and M5Stack Tab5 to BSP Wall
  conftest.py
  examples/display/pytest_display.py
  examples/display_camera_video/pytest_camera_video.py
  examples/display_lvgl_demos/pytest_display_lvgl_demos.py
  pytest.ini
Due: update-examples_table

fix(lvgl_port/lvgl8): allow MALLOC_CAP_DMA|MALLOC_CAP_SPIRAM on PSRAM-DMA-capable SoCs
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port_disp.c
Due: none

feat(lvgl_port): Updated support for RGB565 swapped color format (#768)
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

feat(lvgl_port): Add support for RGB LCD for ESP32P4 and other chips with RGB peripheral + updated example (#631)
  components/.build-test-rules.yml
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/examples/rgb_lcd/main/main.c
  components/esp_lvgl_port/examples/rgb_lcd/sdkconfig.defaults.esp32p4
  components/esp_lvgl_port/examples/rgb_lcd/sdkconfig.defaults.esp32s3
  components/esp_lvgl_port/priv_include/esp_lvgl_port_priv.h
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port_disp.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

feat(lvgl_port): Add const to event bits
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port.c
Due: none

feat(lvgl_port): Supported LCD_RGB_ISR_IRAM_SAFE for RGB panels (#732)
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/idf_component.yml
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port_disp.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

feat(lvgl_port): Updated I2C monochrome example
  components/esp_lvgl_port/examples/i2c_oled/main/CMakeLists.txt
  components/esp_lvgl_port/examples/i2c_oled/main/i2c_oled_example_main.c
  components/esp_lvgl_port/examples/i2c_oled/main/idf_component.yml
  components/esp_lvgl_port/examples/i2c_oled/sdkconfig.defaults
  components/esp_lvgl_port/idf_component.yml
Due: none

feat(esp_lcd_sh1107): Allow to set contrast and offset from vendor config. Minor updates and fixes.
  components/lcd/esp_lcd_sh1107/README.md
  components/lcd/esp_lcd_sh1107/esp_lcd_sh1107.c
  components/lcd/esp_lcd_sh1107/idf_component.yml
  components/lcd/esp_lcd_sh1107/include/esp_lcd_sh1107.h
Due: none

feat(ci): Move benchmark CI to a separate workflow
  .github/ci/benchmark_schema.yaml
  .github/ci/merge_metrics.py
  .github/workflows/benchmark.yml
  .github/workflows/build-run-applications.yml
  examples/display_lvgl_benchmark/main/main.c
  examples/display_lvgl_benchmark/pytest_display_lvgl_benchmark.py
Due: update-examples_table

feat(ci): aggregate BSP metrics into single shaped file
  .github/ci/benchmark_schema.yaml
  .github/ci/merge_metrics.py
  .github/ci/metrics/benchmark_schema.yaml
  .github/ci/metrics/example.metrics.json
  .github/ci/metrics/merge_metrics.py
  .github/ci/metrics/tests/conftest.py
  .github/ci/metrics/tests/fixtures/sample_box3/benchmark_esp_box_3.json
  .github/ci/metrics/tests/fixtures/sample_box3/size.json
  .github/ci/metrics/tests/fixtures/sample_missing_size/benchmark_x.json
  .github/ci/metrics/tests/test_merge_metrics.py
  .github/workflows/benchmark.yml
  examples/display_lvgl_benchmark/pytest_display_lvgl_benchmark.py
Due: update-examples_table

feat(ci): Disable benchmarks on pull-requests and remove temporary json files
  .github/ci/metrics/example.metrics.json
  .github/ci/metrics/tests/conftest.py
  .github/ci/metrics/tests/fixtures/sample_box3/benchmark_esp_box_3.json
  .github/ci/metrics/tests/fixtures/sample_box3/size.json
  .github/ci/metrics/tests/fixtures/sample_missing_size/benchmark_x.json
  .github/ci/metrics/tests/test_merge_metrics.py
  .github/workflows/benchmark.yml
  examples/display_lvgl_benchmark/pytest_display_lvgl_benchmark.py
Due: update-examples_table

feat(ci): Update Flake8 to a newer version
  .flake8
  .pre-commit-config.yaml
  SquareLine/gen.py
Due: none

ci(pytest): Minor changes and moving of shared options to pytest.ini
  .github/workflows/benchmark.yml
  .github/workflows/build-run-applications.yml
  conftest.py
  pytest.ini
Due: none

fix(esp32_p4_function_ev_board): make touch init non-fatal
  bsp/esp32_p4_function_ev_board/esp32_p4_function_ev_board.c
  bsp/esp32_p4_function_ev_board/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

WIP - Add sensor hub
  components/qma6100p/CMakeLists.txt
  components/qma6100p/idf_component.yml
  components/qma6100p/include/qma6100p.h
  components/qma6100p/qma6100p.c
Due: none

WIP - Basic test runs
  components/qma6100p/qma6100p.c
  components/qma6100p/test_apps/main/test_esp_acc_qma6100p.c
Due: none

WIP - Only accelerometer and no gyro
  components/qma6100p/qma6100p.c
Due: none

fix(esp_lvgl_port): use COMPONENT_NAME for lvgl_name in v2 branch
  components/esp_lvgl_port/project_include.cmake
Due: none

feat(esp_lvgl_port): add native cmakev2 build path
  components/esp_lvgl_port/CMakeLists.txt
  components/esp_lvgl_port/CMakeLists_v2.txt
  components/esp_lvgl_port/project_include.cmake
Due: none

feat(sensors): Add sensor hub to DS18B20
  components/.build-test-rules.yml
  components/ds18b20/CHANGELOG.md
  components/ds18b20/CMakeLists.txt
  components/ds18b20/Kconfig.projbuild
  components/ds18b20/README.md
  components/ds18b20/examples/ds18b20_sensor_hub/CMakeLists.txt
  components/ds18b20/examples/ds18b20_sensor_hub/README.md
  components/ds18b20/examples/ds18b20_sensor_hub/main/CMakeLists.txt
  components/ds18b20/examples/ds18b20_sensor_hub/main/Kconfig.projbuild
  components/ds18b20/examples/ds18b20_sensor_hub/main/ds18b20_sensor_hub_example.c
  components/ds18b20/examples/ds18b20_sensor_hub/main/idf_component.yml
  components/ds18b20/examples/ds18b20_sensor_hub/sdkconfig.bsp.uart
  components/ds18b20/idf_component.yml
  components/ds18b20/src/ds18b20_sensor_hub.c
Due: none

doc(esp-box-3): Show LVGL benchmark results in readme from grafana
  bsp/esp-box-3/README.md
Due: bsp-dependencies-readme, update-supported-boards

fix(esp_lvgl_port): Fixed callbacks for DPI by IDF update
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/idf_component.yml
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port_disp.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

fix(examples): Fix partition offset issue
  examples/display/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_camera_video/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_lvgl_benchmark/partitions.csv
  examples/display_lvgl_benchmark/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_lvgl_benchmark/sdkconfig.defaults.esp32p4
  examples/display_lvgl_demos/partitions.csv
  examples/display_lvgl_demos/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_rotation/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_sdcard/sdkconfig.bsp.esp32_p4_function_ev_board
  examples/display_usb_hid/sdkconfig.bsp.esp32_p4_function_ev_board
Due: update-examples_table

fix(esp_lvgl_port): Fixed callbacks for DPI by IDF update
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port_disp.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

fix(bmi270): Swap the BMI270 enable bit mask to the correct value
  components/sensors/bmi270/idf_component.yml
  components/sensors/bmi270/include_priv/bmi270_priv.h
Due: none

examples: Updated audio example sample rate. Added PPA requires into camera example.
  examples/display_audio_photo/main/app_disp_fs.c
  examples/display_audio_photo/spiffs_content/imperial_march_22050Hz.wav
  examples/display_audio_photo/spiffs_content/test_16kHz.wav
  examples/display_camera_video/main/CMakeLists.txt
  examples/display_sdcard/main/example_display.c
Due: update-examples_table

ci(doxygen/doxybook): Install newer version
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

ci(idf): Add IDF6.1 to test matrix
  .github/workflows/build-run-applications.yml
  README.md
Due: update-supported-boards, update-examples_table

doc(api): Updated API.md after doxygen update
  bsp/esp-box-3/API.md
  bsp/esp-box-lite/API.md
  bsp/esp-box/API.md
  bsp/esp32_azure_iot_kit/API.md
  bsp/esp32_c3_lcdkit/API.md
  bsp/esp32_lyrat/API.md
  bsp/esp32_p4_eye/API.md
  bsp/esp32_p4_function_ev_board/API.md
  bsp/esp32_s2_kaluga_kit/API.md
  bsp/esp32_s31_korvo_1/API.md
  bsp/esp32_s3_eye/API.md
  bsp/esp32_s3_korvo_1/API.md
  bsp/esp32_s3_korvo_2/API.md
  bsp/esp32_s3_lcd_ev_board/API.md
  bsp/esp32_s3_usb_otg/API.md
  bsp/esp_vocat/API.md
  bsp/esp_wrover_kit/API.md
  bsp/m5_atom_s3/API.md
  bsp/m5dial/API.md
  bsp/m5stack_core/API.md
  bsp/m5stack_core_2/API.md
  bsp/m5stack_core_s3/API.md
  bsp/m5stack_tab5/API.md
Due: update-supported-boards

feat(bsp): Add sensair shuttle BSP component
  README.md
  bsp/esp_sensairshuttle/CMakeLists.txt
  bsp/esp_sensairshuttle/Kconfig
  bsp/esp_sensairshuttle/LICENSE
  bsp/esp_sensairshuttle/README.md
  bsp/esp_sensairshuttle/esp_sensairshuttle.json
  bsp/esp_sensairshuttle/idf_component.yml
  bsp/esp_sensairshuttle/include/bsp/config.h
  bsp/esp_sensairshuttle/include/bsp/display.h
  bsp/esp_sensairshuttle/include/bsp/esp-bsp.h
  bsp/esp_sensairshuttle/include/bsp/esp_sensairshuttle.h
  bsp/esp_sensairshuttle/include/bsp/touch.h
  bsp/esp_sensairshuttle/priv_include/bsp_err_check.h
  bsp/esp_sensairshuttle/src/bsp_audio.c
  bsp/esp_sensairshuttle/src/bsp_button.c
  bsp/esp_sensairshuttle/src/bsp_display.c
  bsp/esp_sensairshuttle/src/bsp_feature_en.c
  bsp/esp_sensairshuttle/src/bsp_i2c.c
  bsp/esp_sensairshuttle/src/bsp_led.c
  bsp/esp_sensairshuttle/src/bsp_sensors.c
  bsp/esp_sensairshuttle/src/bsp_storage.c
  bsp/esp_sensairshuttle/src/led_blink_defaults.c
  components/bsp_selector/Kconfig
  components/bsp_selector/idf_component.yml
  examples/display/sdkconfig.bsp.esp_sensairshuttle
  examples/display_audio_photo/sdkconfig.bsp.esp_sensairshuttle
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

feat(ci): Cache doxygen installation to minimize querries
  .github/workflows/pre-commit.yml
Due: none

feat(bsp): Add sensair shuttle BSP component
  .github/workflows/upload_component.yml
  .pre-commit-config.yaml
  README.md
  SquareLine/boards/v9/esp_sensairshuttle/image.png
  SquareLine/boards/v9/esp_sensairshuttle/main/idf_component.yml
  SquareLine/boards/v9/esp_sensairshuttle/manifest.json
  SquareLine/boards/v9/esp_sensairshuttle/sdkconfig.defaults
  bsp/esp_sensairshuttle/API.md
  bsp/esp_sensairshuttle/CMakeLists.txt
  bsp/esp_sensairshuttle/Kconfig
  bsp/esp_sensairshuttle/LICENSE
  bsp/esp_sensairshuttle/README.md
  bsp/esp_sensairshuttle/doc/esp_sensairshuttle.webp
  bsp/esp_sensairshuttle/esp_sensairshuttle.json
  bsp/esp_sensairshuttle/idf_component.yml
  bsp/esp_sensairshuttle/include/bsp/config.h
  bsp/esp_sensairshuttle/include/bsp/display.h
  bsp/esp_sensairshuttle/include/bsp/esp-bsp.h
  bsp/esp_sensairshuttle/include/bsp/esp_sensairshuttle.h
  bsp/esp_sensairshuttle/include/bsp/touch.h
  bsp/esp_sensairshuttle/priv_include/bsp_err_check.h
  bsp/esp_sensairshuttle/src/bsp_audio.c
  bsp/esp_sensairshuttle/src/bsp_button.c
  bsp/esp_sensairshuttle/src/bsp_display.c
  bsp/esp_sensairshuttle/src/bsp_feature_en.c
  bsp/esp_sensairshuttle/src/bsp_i2c.c
  bsp/esp_sensairshuttle/src/bsp_led.c
  bsp/esp_sensairshuttle/src/bsp_sensors.c
  bsp/esp_sensairshuttle/src/bsp_storage.c
  bsp/esp_sensairshuttle/src/led_blink_defaults.c
  components/bsp_selector/Kconfig
  components/bsp_selector/idf_component.yml
  docu/doxyfiles/esp_sensairshuttle
  examples/display/sdkconfig.bsp.esp_sensairshuttle
  examples/display_audio_photo/sdkconfig.bsp.esp_sensairshuttle
  examples/display_lvgl_demos/sdkconfig.bsp.esp_sensairshuttle
  examples/display_sensors/sdkconfig.bsp.esp_sensairshuttle
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

bsp(esp32-s31-korvo-1): Added examples and support NoGlib
  .github/workflows/upload_component_noglib.yml
  bsp/esp32_s31_korvo_1/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

ci(run test): Disabled display_camera_video example on esp32_s3_eye due to dead HW
  examples/display_camera_video/pytest_camera_video.py
Due: update-examples_table

feat(sensors): Add BWP and performance mode API to BMI270
  components/sensors/bmi270/idf_component.yml
  components/sensors/bmi270/include/bmi270.h
  components/sensors/bmi270/include_priv/bmi270_priv.h
  components/sensors/bmi270/src/bmi270.c
Due: none

Path conditions:
  bsp-dependencies-readme: any of: ^bsp/.*/(idf_component\.yml|README\.md|include/bsp/.*\.h)$
  update-supported-boards: any of: ^README\.md$|^bsp/
  update-examples_table: any of: ^README\.md$|^examples/
