Repository espressif/esp-bsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bsp-dependencies-readme, update-supported-boards, update-examples_table

Path conditions:
  bsp-dependencies-readme: any of: ^bsp/.*/(idf_component\.yml|README\.md|include/bsp/.*\.h)$
  update-supported-boards: any of: ^README\.md$|^bsp/
  update-examples_table: any of: ^README\.md$|^examples/

fix(rx8130ce): harden RTC recovery
  components/rx8130ce/CHANGELOG.md
  components/rx8130ce/README.md
  components/rx8130ce/include/rx8130ce.h
  components/rx8130ce/rx8130ce.c
Due: none

fix(tg28_sw): make battery model access fail-safe
  components/tg28_sw/CHANGELOG.md
  components/tg28_sw/include/tg28_sw.h
  components/tg28_sw/priv_include/tg28_sw_priv.h
  components/tg28_sw/test_apps/main/test_tg28_sw.c
  components/tg28_sw/tg28_sw.c
Due: none

fix(tg28_sw): harden battery model recovery
  components/tg28_sw/CHANGELOG.md
  components/tg28_sw/include/tg28_sw.h
  components/tg28_sw/test_apps/main/test_tg28_sw.c
  components/tg28_sw/tg28_sw.c
Due: none

refactor(m5stack_tab5): configure ST7121 bitrate in display init
  bsp/m5stack_tab5/src/bsp_display.c
Due: update-supported-boards

docs(m5stack_tab5): clarify ST712 touch variants
  bsp/m5stack_tab5/README.md
Due: bsp-dependencies-readme, update-supported-boards

fix(m5stack_tab5): preserve ST7123 display settings
  bsp/m5stack_tab5/src/bsp_display.c
Due: update-supported-boards

refactor(m5stack_tab5): reuse ST7123 panel driver
  README.md
  bsp/m5stack_tab5/README.md
  bsp/m5stack_tab5/idf_component.yml
  bsp/m5stack_tab5/m5stack_tab5.json
  bsp/m5stack_tab5/priv_include/disp_init_data_st7121.h
  bsp/m5stack_tab5/src/bsp_display.c
  components/lcd/esp_lcd_st7121/CMakeLists.txt
  components/lcd/esp_lcd_st7121/README.md
  components/lcd/esp_lcd_st7121/esp_lcd_st7121.c
  components/lcd/esp_lcd_st7121/idf_component.yml
  components/lcd/esp_lcd_st7121/include/esp_lcd_st7121.h
  components/lcd/esp_lcd_st7121/license.txt
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix(m5stack_tab5): avoid guessing unknown ST712x variants
  bsp/m5stack_tab5/src/bsp_display.c
Due: update-supported-boards

fix(m5stack_tab5): support ST7121 LCD variant
  bsp/m5stack_tab5/README.md
  bsp/m5stack_tab5/idf_component.yml
  bsp/m5stack_tab5/m5stack_tab5.json
  bsp/m5stack_tab5/src/bsp_display.c
  components/lcd/esp_lcd_st7121/CMakeLists.txt
  components/lcd/esp_lcd_st7121/README.md
  components/lcd/esp_lcd_st7121/esp_lcd_st7121.c
  components/lcd/esp_lcd_st7121/idf_component.yml
  components/lcd/esp_lcd_st7121/include/esp_lcd_st7121.h
  components/lcd/esp_lcd_st7121/license.txt
Due: bsp-dependencies-readme, update-supported-boards

Update bsp/m5stack_tab5/idf_component.yml
  bsp/m5stack_tab5/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

docs: update Tab5 capability summary
  README.md
Due: update-supported-boards, update-examples_table

style(m5stack_tab5): format ST7121 init data
  bsp/m5stack_tab5/priv_include/disp_init_data_st7121.h
Due: update-supported-boards

fix(m5stack_tab5): support ST7121 LCD variant (#804)
  bsp/m5stack_tab5/idf_component.yml
  bsp/m5stack_tab5/priv_include/disp_init_data_st7121.h
  bsp/m5stack_tab5/src/bsp_display.c
Due: bsp-dependencies-readme, update-supported-boards

chore: new line at the end of file
  components/lcd/esp_lcd_ili9341/esp_lcd_ili9341.c
Due: none

fix(lcd): correct disp_sleep function pointer assignment
  components/lcd/esp_lcd_ili9341/esp_lcd_ili9341.c
Due: none

feat(lcd): implement disp_sleep command for ILI9341
  components/lcd/esp_lcd_ili9341/esp_lcd_ili9341.c
  components/lcd/esp_lcd_ili9341/idf_component.yml
Due: none

feat(lcd): ILI9341 add sleep command support (#817)
  components/lcd/esp_lcd_ili9341/esp_lcd_ili9341.c
  components/lcd/esp_lcd_ili9341/idf_component.yml
Due: none

Update README.md
  components/ds18b20/README.md
Due: none

refactor(m5stack_core_s3): simplify ILI9342E initialization
  bsp/m5stack_core_s3/API.md
  bsp/m5stack_core_s3/include/bsp/display.h
  bsp/m5stack_core_s3/priv_include/ili9342e_init_cmds.h
  bsp/m5stack_core_s3/src/bsp_display.c
Due: bsp-dependencies-readme, update-supported-boards

feat(m5stack_core_s3): add ILI9342E support
  bsp/m5stack_core_s3/API.md
  bsp/m5stack_core_s3/idf_component.yml
  bsp/m5stack_core_s3/include/bsp/display.h
  bsp/m5stack_core_s3/src/bsp_display.c
Due: bsp-dependencies-readme, update-supported-boards

feat(m5stack_core_s3): add ILI9342E support (#815)
  bsp/m5stack_core_s3/idf_component.yml
  bsp/m5stack_core_s3/priv_include/ili9342e_init_cmds.h
  bsp/m5stack_core_s3/src/bsp_display.c
Due: bsp-dependencies-readme, update-supported-boards

feat(lcd): update lt8912 and fix timing
  components/lcd/esp_lcd_lt8912b/idf_component.yml
  components/lcd/esp_lcd_lt8912b/include/esp_lcd_lt8912b.h
  components/lcd/esp_lcd_lt9611/esp_lcd_lt9611.c
  components/lcd/esp_lcd_st7796/test_apps/main/test_esp_lcd_st7796_mipi.c
Due: none

feat(lcd): add lt9611 mipi2hdmi adapter
  components/lcd/.build-test-rules.yml
  components/lcd/esp_lcd_lt9611/CMakeLists.txt
  components/lcd/esp_lcd_lt9611/README.md
  components/lcd/esp_lcd_lt9611/esp_lcd_lt9611.c
  components/lcd/esp_lcd_lt9611/idf_component.yml
  components/lcd/esp_lcd_lt9611/include/esp_lcd_lt9611.h
  components/lcd/esp_lcd_lt9611/license.txt
  docu/LCD.md
  docu/pics/LT9611.jpg
Due: none

fix(m5stack_tab5): release LCD reset before board detection
  bsp/m5stack_tab5/src/bsp_display.c
Due: update-supported-boards

fix(m5stack_tab5): return null on LCD enable failure
  bsp/m5stack_tab5/src/bsp_display.c
Due: update-supported-boards

feat(lcd): ST7796 Add Sleep command support
  components/lcd/esp_lcd_st7796/esp_lcd_st7796_general.c
  components/lcd/esp_lcd_st7796/esp_lcd_st7796_mipi.c
Due: none

fix: Fix the ESP32-S31-Korvo-1 BSP with the new camera and example update for the camera preview
  bsp/esp32_s31_korvo_1/esp32_s31_korvo_1.json
  bsp/esp32_s31_korvo_1/idf_component.yml
  examples/display_camera_video/main/main.c
  examples/display_camera_video/sdkconfig.bsp.esp32_s31_korvo_1
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

README updated and unpinned esp_video component version
  bsp/esp32_s31_korvo_1/README.md
  bsp/esp32_s31_korvo_1/esp32_s31_korvo_1.json
  bsp/esp32_s31_korvo_1/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

fix(example): Fixed display_audio_photo warnings with latest LVGL 9.6.
  examples/display_audio_photo/main/app_disp_fs.c
Due: update-examples_table

fix(example): Fixed display_sdcard warnings with latest LVGL 9.6.
  examples/display_sdcard/main/example_display.c
Due: update-examples_table

ci: Migrate idf-examples-launchpad-ci-action to v2
  .github/workflows/gh-pages.yml
Due: none

fix(esp-box-3): return NULL from audio codec init on error
  bsp/esp-box-3/esp-box-3.c
Due: update-supported-boards

fix(esp-box-3): bump version to 3.2.1
  bsp/esp-box-3/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

Merge pull request #834 from udvlp/patch-1
  bsp/esp-box-3/esp-box-3.c
  bsp/esp-box-3/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

feat(lcd): ST7796 Add Sleep command support
  components/lcd/esp_lcd_st7796/esp_lcd_st7796_general.c
  components/lcd/esp_lcd_st7796/esp_lcd_st7796_mipi.c
  components/lcd/esp_lcd_st7796/idf_component.yml
Due: none

Improvements on the camera sensor detection and the cold boot issues with the OV3660
  bsp/esp32_s31_korvo_1/src/bsp_camera.c
  examples/display_camera_video/main/app_video.c
  examples/display_camera_video/main/main.c
Due: update-supported-boards, update-examples_table
