Repository espressif/esp-bsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bsp-dependencies-readme, update-supported-boards, update-examples_table

Path conditions:
  bsp-dependencies-readme: any of: ^bsp/.*/(idf_component\.yml|README\.md|include/bsp/.*\.h)$
  update-supported-boards: any of: ^README\.md$|^bsp/
  update-examples_table: any of: ^README\.md$|^examples/

examples(generic_button_led): Add default sdkconfig for esp32_c3_devkit_rust_2
  examples/generic_button_led/sdkconfig.esp32_c3_devkit_rust_2
Due: update-examples_table

fix(touch): Matched struct elements order in the default config define
  components/lcd_touch/esp_lcd_touch_cst816s/idf_component.yml
  components/lcd_touch/esp_lcd_touch_cst816s/include/esp_lcd_touch_cst816s.h
  components/lcd_touch/esp_lcd_touch_ft5x06/idf_component.yml
  components/lcd_touch/esp_lcd_touch_ft5x06/include/esp_lcd_touch_ft5x06.h
  components/lcd_touch/esp_lcd_touch_gt1151/idf_component.yml
  components/lcd_touch/esp_lcd_touch_gt1151/include/esp_lcd_touch_gt1151.h
  components/lcd_touch/esp_lcd_touch_gt911/idf_component.yml
  components/lcd_touch/esp_lcd_touch_gt911/include/esp_lcd_touch_gt911.h
  components/lcd_touch/esp_lcd_touch_tt21100/idf_component.yml
  components/lcd_touch/esp_lcd_touch_tt21100/include/esp_lcd_touch_tt21100.h
Due: none

fix(ci): Upload pytest embedded logs
  .github/workflows/benchmark.yml
  .github/workflows/build-run-applications.yml
Due: none

ci(idf): Add IDF6.1 to test matrix
  .github/workflows/build-run-applications.yml
  README.md
Due: update-supported-boards, update-examples_table

bsp(squareline): Removed deprecated boards from SquareLine support
  SquareLine/boards/v8/custom_waveshare_7inch/README.md
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/CMakeLists.txt
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/LICENSE
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/README.md
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/idf_component.yml
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/include/bsp/display.h
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/include/bsp/esp-bsp.h
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/include/bsp/touch.h
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/include/bsp/ws_7inch.h
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/pic.jpg
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/priv_include/bsp_err_check.h
  SquareLine/boards/v8/custom_waveshare_7inch/components/ws_7inch/ws_7inch.c
  SquareLine/boards/v8/custom_waveshare_7inch/image.png
  SquareLine/boards/v8/custom_waveshare_7inch/main/idf_component.yml
  SquareLine/boards/v8/custom_waveshare_7inch/manifest.json
  SquareLine/boards/v8/custom_waveshare_7inch/sdkconfig.defaults
  SquareLine/boards/v8/esp32_s2_kaluga_kit/image.png
  SquareLine/boards/v8/esp32_s2_kaluga_kit/main/idf_component.yml
  SquareLine/boards/v8/esp32_s2_kaluga_kit/manifest.json
  SquareLine/boards/v8/esp32_s2_kaluga_kit/sdkconfig.defaults
  SquareLine/boards/v8/espbox/image.png
  SquareLine/boards/v8/espbox/main/idf_component.yml
  SquareLine/boards/v8/espbox/manifest.json
  SquareLine/boards/v8/espbox/sdkconfig.defaults
  SquareLine/boards/v8/espbox_lite/image.png
  SquareLine/boards/v8/espbox_lite/main/idf_component.yml
  SquareLine/boards/v8/espbox_lite/manifest.json
  SquareLine/boards/v8/espbox_lite/sdkconfig.defaults
  SquareLine/boards/v9/esp32_s2_kaluga_kit/image.png
  SquareLine/boards/v9/esp32_s2_kaluga_kit/main/idf_component.yml
  SquareLine/boards/v9/esp32_s2_kaluga_kit/manifest.json
  SquareLine/boards/v9/esp32_s2_kaluga_kit/sdkconfig.defaults
  SquareLine/boards/v9/espbox/image.png
  SquareLine/boards/v9/espbox/main/idf_component.yml
  SquareLine/boards/v9/espbox/manifest.json
  SquareLine/boards/v9/espbox/sdkconfig.defaults
  SquareLine/boards/v9/espbox_lite/image.png
  SquareLine/boards/v9/espbox_lite/main/idf_component.yml
  SquareLine/boards/v9/espbox_lite/manifest.json
  SquareLine/boards/v9/espbox_lite/sdkconfig.defaults
Due: none

fix(esp32_p4_function_ev_board): Use LVGL 9 display rotation type
  bsp/esp32_p4_function_ev_board/API.md
  bsp/esp32_p4_function_ev_board/esp32_p4_function_ev_board.c
  bsp/esp32_p4_function_ev_board/include/bsp/esp32_p4_function_ev_board.h
Due: bsp-dependencies-readme, update-supported-boards

fix(esp_lvgl_port): Keep DPI avoid-tearing on on_refresh_done for IDF 5.5
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port_disp.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

feat(esp_lvgl_port): Add out-of-tree PPA and DMA2D LVGL draw units
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/CMakeLists.txt
  components/esp_lvgl_port/CMakeLists_v2.txt
  components/esp_lvgl_port/Kconfig
  components/esp_lvgl_port/cmake/esp_lvgl_port_draw_units.cmake
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_dma2d.c
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_dma2d_convert.c
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_dma2d_copy.c
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_dma2d_img.c
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_esp_dma2d.h
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_esp_dma2d_private.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_arc.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_border.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_buf.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_fill.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_gradient.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_img.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_label.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_layer.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_line.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_mask_rect.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_private.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_round_fill.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_runtime.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_tile.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_triangle.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port.c
Due: none

style(esp_lvgl_port): Align PPA/DMA2D draw units with esp-bsp conventions
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_dma2d.c
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_dma2d_convert.c
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_dma2d_copy.c
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_dma2d_img.c
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_esp_dma2d.h
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_esp_dma2d_private.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_arc.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_border.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_buf.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_fill.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_gradient.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_img.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_label.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_layer.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_line.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_mask_rect.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_private.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_round_fill.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_runtime.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_tile.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_triangle.c
Due: none

fix(esp_lvgl_port): Build PPA/DMA2D draw units against registry LVGL
  components/esp_lvgl_port/src/lvgl9/draw/lvgl_public.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_private.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_runtime.c
Due: none

ci(esp_lvgl_port): Build PPA/DMA2D draw units on ESP32-P4
  components/.build-test-rules.yml
  components/esp_lvgl_port/test_apps/lvgl_port/sdkconfig.ci.ppa_dma2d
Due: none

docs(esp_lvgl_port): Document PPA/DMA2D LVGL draw units
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/README.md
Due: none

fix(esp_lvgl_port): Address Bugbot findings on PPA/DMA2D draw units
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/cmake/esp_lvgl_port_draw_units.cmake
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_dma2d.c
  components/esp_lvgl_port/src/lvgl9/draw/lv_draw_esp_buf.c
  components/esp_lvgl_port/src/lvgl9/draw/lv_draw_esp_buf.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_buf.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_layer.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_private.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_runtime.c
Due: none

fix(esp_lvgl_port): Fix PPA async done_sem lifetime races
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_private.h
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_runtime.c
Due: none

fix(esp_lvgl_port): Harden DMA2D blit cache sync and error path
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_dma2d_img.c
Due: none

fix(esp_lvgl_port): Fall back to SW when PPA tile composite fails
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_layer.c
Due: none

fix(esp_lvgl_port): Fix DMA2D layer header and PPA image SW fallback
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_dma2d.c
  components/esp_lvgl_port/src/lvgl9/draw/ppa/lv_draw_ppa_img.c
Due: none

fix(esp_lvgl_port): Abort DMA2D blit on timeout before SW fallback
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/src/lvgl9/draw/dma2d/lv_draw_dma2d_copy.c
Due: none

Fix ST7123 display initialization delay parameters
  bsp/m5stack_tab5/priv_include/disp_init_data_1.h
Due: update-supported-boards

feat(bsp): Add sensair shuttle BSP component
  .github/workflows/upload_component.yml
  .pre-commit-config.yaml
  README.md
  SquareLine/boards/v9/esp_sensairshuttle/image.png
  SquareLine/boards/v9/esp_sensairshuttle/main/idf_component.yml
  SquareLine/boards/v9/esp_sensairshuttle/manifest.json
  SquareLine/boards/v9/esp_sensairshuttle/sdkconfig.defaults
  bsp/esp_sensairshuttle/API.md
  bsp/esp_sensairshuttle/CMakeLists.txt
  bsp/esp_sensairshuttle/Kconfig
  bsp/esp_sensairshuttle/LICENSE
  bsp/esp_sensairshuttle/README.md
  bsp/esp_sensairshuttle/doc/esp_sensairshuttle.webp
  bsp/esp_sensairshuttle/esp_sensairshuttle.json
  bsp/esp_sensairshuttle/idf_component.yml
  bsp/esp_sensairshuttle/include/bsp/config.h
  bsp/esp_sensairshuttle/include/bsp/display.h
  bsp/esp_sensairshuttle/include/bsp/esp-bsp.h
  bsp/esp_sensairshuttle/include/bsp/esp_sensairshuttle.h
  bsp/esp_sensairshuttle/include/bsp/touch.h
  bsp/esp_sensairshuttle/priv_include/bsp_err_check.h
  bsp/esp_sensairshuttle/src/bsp_audio.c
  bsp/esp_sensairshuttle/src/bsp_button.c
  bsp/esp_sensairshuttle/src/bsp_display.c
  bsp/esp_sensairshuttle/src/bsp_feature_en.c
  bsp/esp_sensairshuttle/src/bsp_i2c.c
  bsp/esp_sensairshuttle/src/bsp_led.c
  bsp/esp_sensairshuttle/src/bsp_sensors.c
  bsp/esp_sensairshuttle/src/bsp_storage.c
  bsp/esp_sensairshuttle/src/led_blink_defaults.c
  components/bsp_selector/Kconfig
  components/bsp_selector/idf_component.yml
  docu/doxyfiles/esp_sensairshuttle
  examples/display/sdkconfig.bsp.esp_sensairshuttle
  examples/display_audio_photo/sdkconfig.bsp.esp_sensairshuttle
  examples/display_lvgl_demos/sdkconfig.bsp.esp_sensairshuttle
  examples/display_sensors/sdkconfig.bsp.esp_sensairshuttle
Due: bsp-dependencies-readme, update-supported-boards, update-examples_table

fix(m5stack_tab5): don't return NULL from int bsp_get_board_version()
  bsp/m5stack_tab5/src/bsp_display.c
Due: update-supported-boards

lvgl_port: Add support for CherryUSB stack for input devices
  components/.build-test-rules.yml
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/CMakeLists.txt
  components/esp_lvgl_port/CMakeLists_v2.txt
  components/esp_lvgl_port/README.md
  components/esp_lvgl_port/examples/display_usb_hid/CMakeLists.txt
  components/esp_lvgl_port/examples/display_usb_hid/README.md
  components/esp_lvgl_port/examples/display_usb_hid/main/CMakeLists.txt
  components/esp_lvgl_port/examples/display_usb_hid/main/Kconfig.projbuild
  components/esp_lvgl_port/examples/display_usb_hid/main/idf_component.yml
  components/esp_lvgl_port/examples/display_usb_hid/main/main.c
  components/esp_lvgl_port/examples/display_usb_hid/sdkconfig.defaults
  components/esp_lvgl_port/idf_component.yml
  components/esp_lvgl_port/include/esp_lvgl_port_usbhid.h
  components/esp_lvgl_port/src/lvgl8/esp_lvgl_port_usbhid_cherryusb.c
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_usbhid_cherryusb.c
Due: none

Properly swap bytes and draw to display for direct mode in LVGL9
  components/esp_lvgl_port/CHANGELOG.md
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

fix(esp_lvgl_port): Signal flush ready when direct mode skips SPI transfer
  components/esp_lvgl_port/src/lvgl9/esp_lvgl_port_disp.c
Due: none

fix(esp32-s31-korvo-1): Corrected ADC button voltage thresholds
  bsp/esp32_s31_korvo_1/idf_component.yml
  bsp/esp32_s31_korvo_1/src/bsp_button.c
Due: bsp-dependencies-readme, update-supported-boards

Update bsp/esp32_s31_korvo_1/idf_component.yml
  bsp/esp32_s31_korvo_1/idf_component.yml
Due: bsp-dependencies-readme, update-supported-boards

fix(esp32-s31-korvo-1): Derived ADC button values from the schematic
  bsp/esp32_s31_korvo_1/esp32_s31_korvo_1.json
  bsp/esp32_s31_korvo_1/src/bsp_button.c
Due: update-supported-boards

fix(m5stack_core_2): Reset LCD panel via AXP2101 ALDO2 on Core2 v1.1
  bsp/m5stack_core_2/idf_component.yml
  bsp/m5stack_core_2/m5stack_core_2.c
Due: bsp-dependencies-readme, update-supported-boards

fix(lcd_touch): Require esp_lcd_touch when the component manager is off
  components/lcd_touch/esp_lcd_touch_cst816s/CMakeLists.txt
  components/lcd_touch/esp_lcd_touch_cst816s/idf_component.yml
  components/lcd_touch/esp_lcd_touch_ft5x06/CMakeLists.txt
  components/lcd_touch/esp_lcd_touch_ft5x06/idf_component.yml
  components/lcd_touch/esp_lcd_touch_gt1151/CMakeLists.txt
  components/lcd_touch/esp_lcd_touch_gt1151/idf_component.yml
  components/lcd_touch/esp_lcd_touch_gt911/CMakeLists.txt
  components/lcd_touch/esp_lcd_touch_gt911/idf_component.yml
  components/lcd_touch/esp_lcd_touch_stmpe610/CMakeLists.txt
  components/lcd_touch/esp_lcd_touch_stmpe610/idf_component.yml
  components/lcd_touch/esp_lcd_touch_tt21100/CMakeLists.txt
  components/lcd_touch/esp_lcd_touch_tt21100/idf_component.yml
Due: none

fix(m5stack_core_2): Fully cut LCD backlight rail on Core2 v1.1 off
  bsp/m5stack_core_2/idf_component.yml
  bsp/m5stack_core_2/m5stack_core_2.c
Due: bsp-dependencies-readme, update-supported-boards

docs(bsp): Regenerated API.md for the display rotation type rename
  bsp/esp-box-3/API.md
  bsp/esp-box-lite/API.md
  bsp/esp-box/API.md
  bsp/esp32_azure_iot_kit/API.md
  bsp/esp32_c3_lcdkit/API.md
  bsp/esp32_p4_eye/API.md
  bsp/esp32_p4_function_ev_board/API.md
  bsp/esp32_s2_kaluga_kit/API.md
  bsp/esp32_s31_korvo_1/API.md
  bsp/esp32_s3_eye/API.md
  bsp/esp32_s3_korvo_2/API.md
  bsp/esp32_s3_usb_otg/API.md
  bsp/esp_sensairshuttle/API.md
  bsp/esp_vocat/API.md
  bsp/esp_wrover_kit/API.md
  bsp/m5stack_core_s3/API.md
  bsp/m5stack_tab5/API.md
Due: update-supported-boards

fix(examples): Replaced lv_disp_rotation_t in the display_rotation example
  examples/display_rotation/main/main.c
Due: update-examples_table

feat(m5stack_core_s3): make LCD SPI pixel clock configurable via Kconfig
  bsp/m5stack_core_s3/Kconfig
  bsp/m5stack_core_s3/idf_component.yml
  bsp/m5stack_core_s3/include/bsp/m5stack_core_s3.h
Due: bsp-dependencies-readme, update-supported-boards

feat(fusb303b): add FUSB303B Type-C controller driver
  components/.build-test-rules.yml
  components/fusb303b/CHANGELOG.md
  components/fusb303b/CMakeLists.txt
  components/fusb303b/LICENSE
  components/fusb303b/README.md
  components/fusb303b/fusb303b.c
  components/fusb303b/idf_component.yml
  components/fusb303b/include/fusb303b.h
  components/fusb303b/test_apps/CMakeLists.txt
  components/fusb303b/test_apps/main/CMakeLists.txt
  components/fusb303b/test_apps/main/idf_component.yml
  components/fusb303b/test_apps/main/test_fusb303b.c
  components/fusb303b/test_apps/sdkconfig.defaults
Due: none

feat(rx8130ce): add RX8130CE RTC driver
  components/.build-test-rules.yml
  components/rx8130ce/CHANGELOG.md
  components/rx8130ce/CMakeLists.txt
  components/rx8130ce/LICENSE
  components/rx8130ce/README.md
  components/rx8130ce/idf_component.yml
  components/rx8130ce/include/rx8130ce.h
  components/rx8130ce/rx8130ce.c
  components/rx8130ce/test_apps/CMakeLists.txt
  components/rx8130ce/test_apps/main/CMakeLists.txt
  components/rx8130ce/test_apps/main/idf_component.yml
  components/rx8130ce/test_apps/main/test_rx8130ce.c
  components/rx8130ce/test_apps/sdkconfig.defaults
Due: none

feat(tg28_sw): add TG28 PMIC driver
  components/.build-test-rules.yml
  components/tg28_sw/CHANGELOG.md
  components/tg28_sw/CMakeLists.txt
  components/tg28_sw/LICENSE
  components/tg28_sw/README.md
  components/tg28_sw/idf_component.yml
  components/tg28_sw/include/tg28_sw.h
  components/tg28_sw/priv_include/tg28_sw_priv.h
  components/tg28_sw/test_apps/CMakeLists.txt
  components/tg28_sw/test_apps/main/CMakeLists.txt
  components/tg28_sw/test_apps/main/idf_component.yml
  components/tg28_sw/test_apps/main/test_tg28_sw.c
  components/tg28_sw/test_apps/sdkconfig.defaults
  components/tg28_sw/tg28_sw.c
Due: none

feat(esp_lcd_touch_cst820): add CST820 touch controller driver
  components/lcd_touch/.build-test-rules.yml
  components/lcd_touch/esp_lcd_touch_cst820/CHANGELOG.md
  components/lcd_touch/esp_lcd_touch_cst820/CMakeLists.txt
  components/lcd_touch/esp_lcd_touch_cst820/Kconfig
  components/lcd_touch/esp_lcd_touch_cst820/README.md
  components/lcd_touch/esp_lcd_touch_cst820/esp_lcd_touch_cst820.c
  components/lcd_touch/esp_lcd_touch_cst820/idf_component.yml
  components/lcd_touch/esp_lcd_touch_cst820/include/esp_lcd_touch_cst820.h
  components/lcd_touch/esp_lcd_touch_cst820/license.txt
  components/lcd_touch/esp_lcd_touch_cst820/test_apps/CMakeLists.txt
  components/lcd_touch/esp_lcd_touch_cst820/test_apps/main/CMakeLists.txt
  components/lcd_touch/esp_lcd_touch_cst820/test_apps/main/Kconfig.projbuild
  components/lcd_touch/esp_lcd_touch_cst820/test_apps/main/idf_component.yml
  components/lcd_touch/esp_lcd_touch_cst820/test_apps/main/test_esp_lcd_touch_cst820.c
  components/lcd_touch/esp_lcd_touch_cst820/test_apps/sdkconfig.defaults
Due: none
